<div class="w-full mb-10">
  <div role="tablist" class="tabs tabs-bordered  flex justify-center">
    <div role="tab" class="tab  w-36" [class.tab-active]="activeTab === Tab.MEMBERS"
         (click)="setActiveTab(Tab.MEMBERS)">
      {{ 'associationMembers.membersHeader' | translate }}
    </div>
    <div role="tab" class="tab w-36" [class.tab-active]="activeTab === Tab.INVITATIONS"
         (click)="setActiveTab(Tab.INVITATIONS)">{{ 'associationMembers.invitationsHeader' | translate }}
    </div>
  </div>
</div>
<div *ngIf="activeTab === Tab.MEMBERS" class="w-full">
  <div class="overflow-x-auto">
    <app-search-box [placeholder]="'associationMembers.searchPlaceholder' | translate" (SearchEvent)="searchUser($event)"></app-search-box>
    <table class="table">
      <thead>
      <tr>
        <th>{{ 'associationMembers.tableMember.memberHeader' | translate }}</th>
        <th> {{ 'associationMembers.tableMember.roleHeader' | translate }}</th>
        <th>{{ 'associationMembers.tableMember.memberSinceHeader' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <td *ngIf="filteredAssociations.length === 0" colspan="4" class="text-center text-md">{{'associationMembers.noResult' | translate}}
      </td>
      <tr *ngFor="let userAssociation of filteredAssociations" class="items-center">
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12 rounded-full">
                <img src="{{userAssociation.user.image?.encoded}}" alt="{{userAssociation.user.fullName}}"/>
              </div>
            </div>
            <div>
              <div class="font-bold">{{ userAssociation.user.fullName }}</div>
              <div class="text-sm opacity-50">{{ userAssociation.user.email }}</div>
            </div>
          </div>
        </td>
        <td>
          <p>{{ userAssociation.associationRole.name }}</p>
        </td>
        <td>
          <p>{{ formatDate(userAssociation.memberSince) | async }}</p>
        </td>
        <td>
          <button class="btn border-warning border-2 btn-sm bg-base-100" (click)="changeSelectedUser(userAssociation)"
                  *ngIf="userAssociation.user.id !== userID">{{ 'associationMembers.tableMember.changeButton' | translate }}
          </button>
          <app-update-user-modal
            (updateUserAssociationEvent)="updateUserAssociation($event)"
            [selectedRole]="selectedRole" [selectedUser]="selectedUser"></app-update-user-modal>

          <button class="btn border-error border-2 bg-base-100  btn-sm ml-10"
                  (click)="deleteSelectedUser(userAssociation)"
                  *ngIf="userAssociation.user.id !== userID">{{ 'associationMembers.tableMember.deleteButton' | translate }}
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
          <app-confirmation-modal
            [header]="'associationMembers.tableMember.memberModal.modalHeader' | translate:{name: this.selectedUser?.user?.fullName}"
            [message]="'associationMembers.tableMember.memberModal.modalMessage' | translate:{name: this.selectedUser?.user?.fullName}"
            [modalTag]="Modal.ASSOCIATION_MEMBERS_REMOVE_MEMBER"
            [acceptButtonText]="'associationMembers.tableMember.memberModal.acceptButton' | translate"
            [rejectButtonText]="'associationMembers.tableMember.memberModal.rejectButton' | translate"
            (AcceptEvent)="removeUser()"
            (RejectEvent)="cancelRemoveUser()"
          >
          </app-confirmation-modal>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="activeTab === Tab.INVITATIONS">
  <!-- Content for Uitnodigingen tab -->
  <div class="w-full flex justify-end">
    <button class="btn border-accent border-2 bg-base-100 mr-10  btn-md" (click)="createNewAssociationInvite()">
      {{'associationMembers.tableInvitations.sendMessageButton' | translate}}
    </button>
    <app-send-invitation-modal [associationName]="associationName"
                               (NewAssociationInviteEvent)="newAssociationInviteEvent($event)"></app-send-invitation-modal>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
      <tr>
        <th>{{'associationMembers.tableInvitations.emailHeader' | translate}}</th>
        <th>{{'associationMembers.tableInvitations.invitationSendHeader' | translate}}</th>
        <th>{{'associationMembers.tableInvitations.roleHeader' | translate}}</th>
      </tr>
      </thead>
      <td *ngIf="associationInvites.length === 0" colspan="4" class="text-center text-md">{{'associationMembers.noInvitations' | translate}}</td>

        <tbody>
      <tr *ngFor="let associationInvite of associationInvites" class="items-center h-16 ">
        <td>
          <!-- Naam + email -->
          <div>{{ associationInvite.user.email }}</div>
        </td>
        <td>
          <!-- Rol -->
          <p>{{ formatDate(associationInvite.createdAt) | async }}</p>
        </td>
        <td>
          <p>{{ associationInvite.associationRole.name }}</p>
        </td>
        <td>
          <button class="btn border-error border-2 bg-base-100  btn-sm ml-10"
                  (click)="deleteSelectedInvite(associationInvite.id)">{{'associationMembers.tableInvitations.cancelButton' | translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
