<div class="flex row h-screen">
  <app-navbar-minimal class="w-full absolute"></app-navbar-minimal>
  <app-left-side-authentication class="w-6/12"></app-left-side-authentication>
  <div class="flex flex-col w-6/12 justify-center items-center space-y-24">
    <div class="justify-center space-y-16">
      <div class="flex w-full flex-col items-center ">
        <h1 class="text-6xl text-white font-bold m-0" translate> loginPage.titleHeader </h1>
        <div class="w-36 mt-4 h-2 rounded-2xl bg-accent" ></div>
      </div>
      <form class="mt-2 flex flex-col items-center gap-y-3" [formGroup]="loginForm">
        <app-default-input-field
          [_formControl]="loginForm.controls.email"
          [autocomplete]="'email'"
          [placeholder]="'loginPage.emailPlaceholder' | translate"
          [labelText]="'loginPage.emailHeader' | translate"
          [inputId]="'emailId'"
          [type]="'text'"
          [errorSettings]="[{
          errorMessage: 'loginPage.errors.noValidEmail' | translate,
          errorName: ''
         }]">
        </app-default-input-field>
        <app-default-input-field
          [autocomplete]="'current-password'"
          [_formControl]="loginForm.controls.password"
          [placeholder]="'loginPage.passwordPlaceholder' | translate"
          [labelText]="'loginPage.passwordHeader' | translate"
          [inputId]="'password'"
          [type]="showPassword ? 'text' : 'password'"
          [errorSettings]="[{
          errorMessage: 'loginPage.errors.noValidPassword' | translate,
          errorName: ''
         }]"
          [visibilityCanBeToggled]="true">
        </app-default-input-field>
        <button class="self-end mb-2 underline text-sm text-accent font-bold" (click)="modalService.showModal(Modal.FORGOT_PASSWORD)"
          translate>
          loginPage.forgotPassword
        </button>
        <app-error-message-manual #loginErrorMessage></app-error-message-manual>
        <app-custom-button
        [buttonClass]="ButtonClass.LOGIN_CLASS"
        [buttonSize]="ButtonSize.BTN_MD"
        [labelText]="'loginPage.loginButton'"
        [additionalClasses]="'w-60 text-xl'"
        [disabledStatus]="false"
        (onClick)="onSubmit()"
      ></app-custom-button>
        <button class="text-base-content font-bold mt-3  text-sm" routerLink="/register"
                routerLinkActive="active" translate>
          loginPage.noAccount
          <span class="text-accent underline" translate>loginPage.noAccount2</span>
        </button>

      </form>
    </div>
  </div>
</div>
<app-forgot-password-modal></app-forgot-password-modal>
<app-email-verification-modal></app-email-verification-modal>
