<div class="flex row h-screen bg-gray-100">
    <div class="w-5/12 bg-gray-200">
        <h1>Logo</h1>
    </div>
    <div class="pl-2 flex flex-col w-7/12 justify-center items-center">
        <div class="justify-center space-y-10">
            <div class="flex flex-col ">
                <h1 class="text-2xl font-bold m-0">Welkom op ....</h1>
                <p class="text-sm">Access account by logging in</p>
            </div>
            <form class="mt-2 flex flex-col items-start" [formGroup]="loginForm" fxLayout="column"
                fxLayoutAlign="center stretch">
                <label class="font-bold" for="email">Email</label>
                <app-input-field-form [name]="'email'" [placeholder]="'Vul hier je email in'"></app-input-field-form>

                <label class="font-bold" for=" wachtwoord">Wachtwoord</label>
                <app-input-field-form [name]="'wachtwoord'"
                    [placeholder]="'Vul hier je wachtwoord in.'"></app-input-field-form>
                <app-confirm-button class="mt-4" [label]="'Log in'" (onClick)="onSubmit()"></app-confirm-button>
                <button class=" mt-2 underline text-xs text-blue-700" routerLink="/register" routerLinkActive="active">
                    Don't have an account? Register here.
                </button>
            </form>
        </div>
    </div>
</div>