<div class="flex row h-screen bg-gray-100">
    <div class="w-6/12 bg-gray-200">
        <img class="h-full w-full object-cover relative" src="../../assets/4824879.jpg">
        <h1 class="absolute top-0 left-0 text-2xl">Logo</h1>

    </div>
    <div class="pl-2 flex flex-col w-6/12 justify-center items-center">
        <div class="justify-center space-y-16">
            <div class="flex flex-col ">
                <h1 class="text-3xl font-bold m-0">Welkom op LedenCentraal</h1>
                <p class="text-lg">Acces information</p>
            </div>
            <form class="mt-2 flex flex-col items-start" [formGroup]="loginForm" fxLayout="column"
                fxLayoutAlign="center stretch">
                <label class="font-bold text-lg" for="email">Email</label>
                <app-input-field-form [name]="'email'" [placeholder]="'Vul hier je email in'"></app-input-field-form>

                <label class="font-bold text-lg" for="wachtwoord">Wachtwoord</label>
                <div class="relative flex items-center"> <!--Wrapper for input field -->
                    <app-input-field-form class="" [name]="'password'" [placeholder]="'Vul hier je wachtwoord in'"
                        [type]="showPassword ? 'text' : 'password'"></app-input-field-form>
                    <button class="absolute right-0 mr-2" (click)="togglePasswordVisibilty()">
                        <div class="mb-2">
                            <fa-icon *ngIf="showPassword; else eyeSlashIcon" [icon]="faEye"
                                class="text-gray-500"></fa-icon>
                            <ng-template #eyeSlashIcon>
                                <fa-icon [icon]="faEyeSlash" class="text-gray-500"></fa-icon>
                            </ng-template>
                        </div>
                    </button>
                </div>
                <app-confirm-button class="mt-3" [label]="'Log in'" (onClick)="onSubmit()"></app-confirm-button>
                <button class=" mt-3 underline text-sm text-sky-900 hover:text-sky-500" routerLink="/register"
                    routerLinkActive="active">
                    Heb je nog geen account? Maak er hier een aan.
                </button>

            </form>
        </div>
    </div>



</div>