<!--<nav class="flex flex-col h-screen bg-base-300 w-48">-->
<!--  <h1 class="" >{{ environment.companyName }}</h1>-->
<!--  <ul class="flex flex-col justify-center w-full flex-grow">-->
<!--    &lt;!&ndash;              Verander de label naar de vereniging variable &ndash;&gt;-->
<!--    <app-association-name [textLabel]="'Vereniging naam'" ></app-association-name>-->
<!--    <div class="border-b-2 b p-3" *ngFor="let i of sidebar_items">-->
<!--      <app-side-bar-item [item]="i"></app-side-bar-item>-->
<!--    </div>-->
<!--  </ul>-->
<!--</nav>-->
<!--<div class="w-80">-->
<div class="drawer">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-side">
<!--    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>-->
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content flex">
      <div class="flex flex-row space-x-20 mb-10">
        <h1 class="">{{ environment.companyName }}</h1>
        <h1>Logo</h1>
      </div>
      <div class="divider"></div>
      <!-- Sidebar content here -->
      <div class="p-2" *ngFor="let i of sidebar_items">
        <app-side-bar-item [item]="i"></app-side-bar-item>
      </div>
      <div class="divider"></div>
    </ul>
  </div>
</div>
<!--</div>-->
