<div class="flex flex-col w-96  items-start justify-evenly mt-5">
  <label for="{{_id}}" class="mb-2">{{ dataSource.label }}</label>
  <select id="{{_id}}" class="select select-accent w-full  border-2"
          [formControl]="dataSource.formControl">
    <option [ngValue]="listItem.original" *ngFor="let listItem of processedItems">{{ listItem.processed}}</option>
  </select>
  <div *ngIf="(dataSource.formControl.value == null || dataSource.formControl.value.length == 0) ? dataSource.hideErrorsWhenEmpty : true">
    <app-single-error-message
                               [errorMessage]="dataSource.errorSetting.errorMessage"
                               [specificFormControl]="dataSource.formControl">
    </app-single-error-message>
  </div>

</div>
