<div class="grid grid-rows-48" style="grid-template-columns: 0.5fr repeat(7, 1fr);">
  <div></div>
  <div *ngFor="let day of days" class="text-center border-b-2 border-grayTint h-8">{{ day }}</div>

  <!-- Repeat the following block for each row in your data -->
  <ng-container class="h-20" *ngFor="let index of [].constructor(48); let i = index">
    <div class="text-center">{{ '+' }}</div>
    <!-- Add the rest of the content for each column in the row here -->
    <ng-container *ngFor="let index of [1, 2, 3, 4, 5, 6, 7]; let i = index">
      <app-grid-table-cell class="border-l-2 border-r-2 border-grayTint hover:bg-accent" [label]="''"></app-grid-table-cell>
    </ng-container>

  </ng-container>
</div>
