<table class="border-collapse">
  <thead class="sticky top-0 bg-base-100 z-10">
  <tr class="h-14 shadow-xl border-grayTint border-b-2">
    <th></th>
    <th *ngFor="let day of this.days" class="w-96">{{day}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of hours" [ngClass]="{'bg-base-300': (i.hourNumber % 2) === 0}">
    <td class="w-20 pl-2" *ngIf="i.minuteNumber === 0">{{i.displayName}}</td>
    <td class="w-20" *ngIf="i.minuteNumber != 0"></td>
    <td *ngFor="let j of [].constructor(7); let cellIndexJ = index" class="border-2 border-grayTint border-b-0 border-t-0 w-40 h-14 hover:bg-accent opacity-65" [ngClass]="{'border-2': cellIndexJ != 1 && cellIndexJ != 6}">

<!--      <div class="relative h-14 rounded-2xl bg-red-400">eee</div>-->

    </td>
  </tr>
  </tbody>
</table>


