<app-my-reservation-detail-modal (UpdateReservationUsers)="refreshData()" [SetCurrentReservationUser]="SetCurrentReservationUser" ></app-my-reservation-detail-modal>
<div class="w-full mb-10">
  <div role="tablist" class="tabs tabs-bordered  flex justify-center">
    <div role="tab" class="tab  w-36" [class.tab-active]="activeTab === Tab.FUTURE"
         (click)="setActiveTab(Tab.FUTURE)">Future
    </div>
    <div role="tab" class="tab w-36" [class.tab-active]="activeTab === Tab.HISTORY"
         (click)="setActiveTab(Tab.HISTORY)">History
    </div>
  </div>
</div>
<div *ngIf="activeTab === Tab.FUTURE" class="w-full">
  <div class="overflow-x-auto">
<!--    <app-search-box [placeholder]="'associationMembers.searchPlaceholder' | translate" (SearchEvent)="searchUser($event)"></app-search-box> #TODO Maybe add a date filter?-->
    <table class="table">
      <thead>
      <tr>
        <th>Titel</th>
        <th>Vereniging</th>
        <th>Tijd</th>
        <th>Baan</th>
        <th>Positie</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <td *ngIf="futureReservationsUsers.length === 0" colspan="4" class="text-center text-md">Geen aankomende aangemellde reservations PS. Dit nog aanpassen text
      </td>
      <tr *ngFor="let reservationUser of futureReservationsUsers" class="items-center">
        <td>
          <p> {{ reservationUser.reservation.title }}</p>
        </td>
        <td>
          <p>{{ reservationUser.reservation.association?.name }}</p>
        </td>
        <td>
          <p>Begint op {{this.util.formatDateTimeAsString(reservationUser.reservation.startDate) | async}} - Eindigt op {{this.util.formatDateTimeAsString(reservationUser.reservation.endDate) | async}}</p>
        </td>
        <td>
          <p *ngFor="let track of reservationUser.reservation.tracks">{{ track.name}}</p>
        </td>
        <td>
          <p *ngIf="reservationUser.reservation.membersCanChooseTheirOwnPosition">{{ reservationUser.position + 1 }}</p>
          <p *ngIf="!reservationUser.reservation.membersCanChooseTheirOwnPosition">Geen</p>
        </td>
        <td>
          <button class="btn border-accent border-2 btn-sm bg-base-100" (click)="viewMoreInformation(reservationUser)">Info
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="activeTab === Tab.HISTORY" class="w-full">
  <div class="overflow-x-auto">
    <!--    <app-search-box [placeholder]="'associationMembers.searchPlaceholder' | translate" (SearchEvent)="searchUser($event)"></app-search-box> #TODO Maybe add a date filter?-->
    <table class="table">
      <thead>
      <tr>
        <th>Titel</th>
        <th>Vereniging</th>
        <th>Tijd</th>
        <th>Baan</th>
        <th>Positie</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <td *ngIf="historyReservationsUsers.length === 0" colspan="4" class="text-center text-md">Geen aankomende aangemellde reservations PS. Dit nog aanpassen text
      </td>
      <tr *ngFor="let reservationUser of historyReservationsUsers" class="items-center">
        <td>
          <p> {{ reservationUser.reservation.title }}</p>
        </td>
        <td>
          <p>{{ reservationUser.reservation.association?.name }}</p>
        </td>
        <td>
          <p>Begint op {{this.util.formatDateTimeAsString(reservationUser.reservation.startDate) | async}} - Eindigt op {{this.util.formatDateTimeAsString(reservationUser.reservation.endDate) | async}}</p>
        </td>
        <td>
          <p *ngFor="let track of reservationUser.reservation.tracks">{{ track.name}}</p>
        </td>
        <td>
          <p *ngIf="reservationUser.reservation.membersCanChooseTheirOwnPosition">{{ reservationUser.position }}</p>
          <p *ngIf="!reservationUser.reservation.membersCanChooseTheirOwnPosition">Geen</p>
        </td>
        <td>
          <button class="btn border-accent border-2 btn-sm bg-base-100" (click)="viewMoreInformation(reservationUser)">Info
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
