<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Wapen-onderhoud: {{title}}</h3>
    <div class="flex flex-row gap-x-1 mt-5">
      <div class="flex flex-col">
      <p>StartTijd:</p>
      <p>EindTijd: </p>
      <p>Duur: </p>
      <p>Wapen: </p>
      <p class="mt-2">{{selectedMaintenanceEvent?.description}}</p>
      </div>
      <div>
        <p>{{startTime}}</p>
        <p>{{endTime}}</p>
        <p>{{util.calculateDuration(selectedMaintenanceEvent?.startDate!, selectedMaintenanceEvent?.endDate!)}}</p>
        <p>{{selectedMaintenanceEvent?.weapon?.name}} ({{selectedMaintenanceEvent?.weapon?.type?.name}})</p>
      </div>
    </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between" >

        <app-custom-button
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Sluit'"
          [disabledStatus]="false"
          (onClick)="hideModal()"
        ></app-custom-button>

        <app-custom-button
          [buttonClass]="ButtonClass.WARNING_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Wijzig'"
          [disabledStatus]="!timeIsAfterCurrentDate(selectedMaintenanceEvent?.endDate)"
          (onClick)="hideModal(); this.modalService.showModal(Modal.ASSOCIATION_WEAPONS_CREATE_EDIT_WEAPON_MAINTENANCE); this.changeCurrentWeaponMaintenance?.emit(selectedMaintenanceEvent); "
        ></app-custom-button>
      </form>
    </div>
  </div>
</dialog>
