<div class="flex flex-col">
  <app-search-box [placeholder]="'Zoek Competitie'" (SearchEvent)="searchCompetition($event)"></app-search-box>
  <button class="btn border-accent border-2 btn-sm bg-base-100" (click)="this.modalService.showModal(Modal.ASSOCIATION_CREATE_COMPETITION)
">Nieuwe competitie</button>
<create-competition-modal
(CompetitionCreatedEvent)="CompetitionCreatedEvent($event)">

</create-competition-modal>
</div>
  <table class="table">
  <thead>
  <tr>
    <th>Competitienaam</th>
    <th>Start datum</th>
    <th>Eindigt over</th>
  </tr>
  </thead>
  <tbody>
  <td *ngIf="filteredCompetitions.length === 0" colspan="4" class="text-center text-md">Geen competities gevonden
  </td>
  <tr *ngFor="let competition of filteredCompetitions" class="items-center">
    <td>
        <div>
          <div class="font-bold">{{ competition.name}}</div>
          <div class="text-sm opacity-50">{{ competition.description}}</div>
        </div>
    </td>
    <td>
      <p>{{ this.utility.formatDateTimeAsString(competition.startDate) | async}}</p>
    </td>
    <td>
      <p *ngIf="this.utility.getCurrentDate().getTime() <= this.utility.convertIsoDateToDate(competition.endDate).getTime() "> {{this.utility.calculateDuration(Date().toString(), competition.endDate)}}</p>
    </td>
      <td>
      <button class="btn border-accent border-2 btn-sm bg-base-100" (click)="viewCompetition(competition)">Bekijk
      </button>
    </td>
  </tr>
  </tbody>
</table>
