<div class="w-full mb-10">
  <div role="tablist" class="tabs flex justify-center">
    <div *ngFor="let item of dataSource.items" role="tab" class="tab w-36 border-b-2"
         [ngClass]="{ 'text-accent': currentActive === item,
                      'border-base-content': currentActive !== item,
                      'font-bold': currentActive === item,
                      'border-accent': currentActive === item
                      }"
         (click)="setActive(item)">
      {{ item.label | translate }}
    </div>
  </div>
</div>
