<div class="w-full mb-10">
  <div role="tablist" class="tabs tabs-bordered  flex justify-center">
    <div role="tab" class="tab  w-36" [class.tab-active]="activeTab === Tab.MEMBERS"
         (click)="setActiveTab(Tab.MEMBERS)">
      Leden
    </div>
    <div role="tab" class="tab w-36" [class.tab-active]="activeTab === Tab.INVITATIONS"
         (click)="setActiveTab(Tab.INVITATIONS)">Uitnodigingen
    </div>
  </div>
</div>
<div *ngIf="activeTab === Tab.MEMBERS" class="w-full">
  <div class="overflow-x-auto">
    <app-search-box [placeholder]="'Zoek gebruiker'" (SearchEvent)="searchUser($event)"></app-search-box>
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>Lid</th>
        <th>Rol</th>
        <th>Lid sinds</th>
      </tr>
      </thead>
      <tbody>

      <td *ngIf="filteredAssociations.length === 0" colspan="4" class="text-center text-md">Geen resultaten gevonden
      </td>

      <tr *ngFor="let userAssociation of filteredAssociations" class="items-center">
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12 rounded-full">
                <img src="{{userAssociation.user.image?.encoded}}" alt="{{userAssociation.user.fullName}}"/>
              </div>
            </div>
            <div>
              <div class="font-bold">{{ userAssociation.user.fullName }}</div>
              <div class="text-sm opacity-50">{{ userAssociation.user.email }}</div>
            </div>
          </div>
        </td>
        <td>
          <p>{{ userAssociation.associationRole.name }}</p>
        </td>
        <td>
          <p>{{ formatDate(userAssociation.memberSince) | async }}</p>
        </td>
        <td class="justify-evenly items-center">
          <button class="btn border-warning border-2 btn-sm bg-base-100" (click)="changeSelectedUser(userAssociation)"
                  *ngIf="userAssociation.user.id !== userID">Wijzig
          </button>
          <app-update-user-modal
            (updateUserAssociationEvent)="updateUserAssociation($event)"
            [selectedRole]="selectedRole" [selectedUser]="selectedUser"></app-update-user-modal>

          <button class="btn border-error border-2 bg-base-100  btn-sm ml-10"
                  (click)="deleteSelectedUser(userAssociation)" *ngIf="userAssociation.user.id !== userID">Verwijderen
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
          <app-remove-user-modal [selectedUser]="selectedUser"
                                 (userAssociationDeletedEvent)="userAssociationDeleted($event)"
          ></app-remove-user-modal>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="activeTab === Tab.INVITATIONS">
  <!-- Content for Uitnodigingen tab -->
  <div class="w-full flex justify-end">
    <button class="btn border-accent border-2 bg-base-100 mr-10  btn-md" (click)="createNewAssociationInvite()">Verstuur uitnodiging
    </button>
    <app-send-invitation-modal></app-send-invitation-modal>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
      <tr>
        <th>Email</th>
        <th>Uitnodiging verzonden</th>
        <th>Rol</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let associationInvite of associationInvites" class="items-center h-16 ">
        <td>
          <!-- Naam + email -->
          <div class="text-sm opacity-50">{{ associationInvite.user.email }}</div>
        </td>
        <td>
          <!-- Rol -->
          <p>{{ formatDate(associationInvite.createdAt) | async }}</p>
        </td>
        <td>
          <p>{{ associationInvite.associationRole.name }}</p>
        </td>
        <td>
          <button class="btn border-error border-2 bg-base-100  btn-sm ml-10" (click)="deleteSelectedInvite(associationInvite.id)">Annuleer
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
