<div role="tablist" class="tabs tabs-bordered  flex justify-center">
  <div role="tab" class="tab  w-36" [class.tab-active]="activeTab === Tab.WEAPON_OVERVIEW"
       (click)="setActiveTab(Tab.WEAPON_OVERVIEW)">
    Wapen overzicht
  </div>
  <div role="tab" class="tab w-36" [class.tab-active]="activeTab === Tab.CALENDER_VIEW"
       (click)="setActiveTab(Tab.CALENDER_VIEW)"> Kalender
  </div>
</div>
<div *ngIf="activeTab === Tab.WEAPON_OVERVIEW">
  <div class="w-full flex justify-end">
    <button class="btn border-accent border-2 bg-base-100 mr-10  btn-md" (click)="this.modalService.showModal(Modal.ASSOCIATION_WEAPONS_CREATE_WEAPON)">
      Voeg wapen toe
    </button>
    <app-create-weapon-modal [associationID]="associationID"  (CreateWeaponEvent)="createWeaponEvent($event)"></app-create-weapon-modal>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
      <tr>
        <th>Wapennaam</th>
        <th>Wapentype</th>
        <th>Status</th>
      </tr>
      </thead>
      <td *ngIf="weaponList.length === 0"  colspan="4" class="text-center text-md"> Geen wapens gevonden</td>
      <tbody>
      <tr class="items-center h-16 " *ngFor="let weapon of weaponList">
        <td>
          <p>{{ weapon.name }}</p>
        </td>
        <td>
          <p>{{ weapon.type.name }}</p>
        </td>
        <td>
          <p>{{ getWeaponStatus(weapon.status) }}</p>
        </td>
        <td>
          <button class="btn border-warning border-2 bg-base-100  btn-sm ml-10">
            Wijzig
          </button>
          <button class="btn border-error border-2 bg-base-100  btn-sm ml-10">
            Verwijder
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="activeTab === Tab.CALENDER_VIEW" >
<app-calender class="w-full"></app-calender>
</div>
