<app-search-box *ngIf="dataSource.canSearch" [placeholder]="dataSource.searchPlaceholder! | translate" (SearchEvent)="search($event)">
</app-search-box>
<table class="table">
  <thead>
  <tr>
    <th *ngFor="let column of dataSource.columns">
      <ng-container [ngTemplateOutlet]="column.headerCell"></ng-container>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="!dataSource.isDataLoading; else loading">
    <td *ngIf="filteredItems.length == 0" colspan="40" class="text-center text-md">{{ dataSource.emptyMessage}}</td>
    <ng-container *ngFor="let row of filteredItems">
      <tr *ngIf="dataSource.canSearch ? dataSource.isInSearch!(row, searchValue) : true">
        <td *ngFor="let column of dataSource.columns">
          <ng-container [ngTemplateOutlet]="column.rowCell" [ngTemplateOutletContext]="{ data: row }"></ng-container>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    Loading data... (Voeg animation toe)
  </ng-template>
  </tbody>
</table>
