<dialog id="my_modal_11" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">

    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <app-custom-button
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Sluit'"
          [disabledStatus]="false"
          (onClick)="hideModal()"
        ></app-custom-button>

        <app-custom-button
          [buttonClass]="ButtonClass.ACCENT_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Verwijder reservering'"
          [disabledStatus]="!timeIsAfterCurrentDate(selected?.endDate!)"
          (onClick)="deleteReservation()"
        ></app-custom-button>

        <app-custom-button
          [buttonClass]="ButtonClass.ACCENT_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Verwijder reservering serie'"
          [disabledStatus]="selected?.data.reservationSeries == null"
          (onClick)="deleteReservationSeries()"
        ></app-custom-button>

      </form>
    </div>
  </div>
</dialog>
