<dialog id="my_modal_4" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">

    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <button class="btn border-error border-2 bg-base-100" (click)="hideModal()"
        >Sluit
        </button>
        <button class="btn border-accent border-2 bg-base-100" [disabled]="!timeIsAfterCurrentDate(selected?.endDate!)"
                (click)="editReservation()"
        >Wijzig
        </button>
      </form>
    </div>
  </div>
</dialog>
