<dialog id="my_modal_15" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{header}}</h3>
    <div class="flex flex-row items-center mt-5">
      <h1>{{message}}</h1>
    </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between" >
        <app-custom-button
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="rejectButtonText"
          [disabledStatus]="false"
          (onClick)="cancelFunction()"
        ></app-custom-button>

        <app-custom-button
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="acceptButtonText"
          [disabledStatus]="false"
          (onClick)="acceptFunction()"
        ></app-custom-button>
      </form>
    </div>
  </div>
</dialog>
