<app-tab [dataSource]="tabDataSource"></app-tab>


<div *ngIf="activeTab === Tab.WEAPON_OVERVIEW">
  <app-multi-column-list [dataSource]="dataSourceWeapons"></app-multi-column-list>
</div>
<div *ngIf="activeTab === Tab.CALENDER_VIEW" >
  <app-calender (RequestNewCalendarItemsEvent)="updateEvents($event)" [NewCalendarItemsEvent]="updateCalendarItemsEvent" (CalendarItemClickedEvent)="calendarItemClicked($event)" (ButtonClickedEvent)="createNewWeaponMaintenance()" [buttonTitle]="'Plan onderhoud'" class="w-full"></app-calender>
</div>
<app-weapon-information-modal [changeCurrentWeaponMaintenance]="changeCurrentWeaponMaintenance"[changeSelectedEvent]="changeSelectedWeaponMaintenanceEvent"></app-weapon-information-modal>
<app-weapon-maintenance-create-edit-modal [deleteWeaponMaintenanceEvent]="deleteWeaponMaintenanceEvent" [changeWeaponMaintenanceEvent]="changeWeaponMaintenanceEvent" [addWeaponMaintenanceEvent]="addWeaponMaintenanceEvent" [changeCurrentWeaponMaintenance]="changeCurrentWeaponMaintenance"></app-weapon-maintenance-create-edit-modal>
<app-create-weapon-modal (CreateWeaponEvent)="createWeaponEvent($event)" (ChangeWeaponEvent)="changeWeaponEvent($event)" [SetCurrentWeapon]="setCurrentWeapon"></app-create-weapon-modal>

<ng-template #TableHeaderRow>
  <button class="btn border-accent border-2 bg-base-100 mr-10  btn-md" (click)="this.setCurrentWeapon.emit(generateNewWeapon());this.modalService.showModal(Modal.ASSOCIATION_WEAPONS_CREATE_WEAPON)">
    Voeg wapen toe
  </button>
</ng-template>

<!--Headers-->
<ng-template #WeaponNameHeader>
  Wapennaam
</ng-template>

<ng-template #WeaponTypeHeader>
  Wapentype
</ng-template>

<ng-template #WeaponStatusHeader>
  Status
</ng-template>
<ng-template #ActionsHeader>

</ng-template>

<!--Rows-->
<ng-template #WeaponNameRow let-weapon="data">
  <p>{{ weapon.name }}</p>
</ng-template>

<ng-template #WeaponTypeRow let-weapon="data">
  <p>{{ weapon.type.name }}</p>
</ng-template>

<ng-template #WeaponStatusRow let-weapon="data">
  <p>{{ getWeaponStatus(weapon.status) }}</p>
</ng-template>

<ng-template #ActionsRow let-weapon="data">
  <button class="btn border-warning border-2 bg-base-100  btn-sm ml-10" (click)="this.setCurrentWeapon.emit(weapon);this.modalService.showModal(Modal.ASSOCIATION_WEAPONS_CREATE_WEAPON)">
    Wijzig
  </button>
  <button class="btn border-error border-2 bg-base-100  btn-sm ml-10">
    Verwijder
    <fa-icon [icon]="faTrashCan"></fa-icon>
  </button>
</ng-template>
