<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <app-inputfield-weapon-modal
      [inputId]="'inputID'"
      [placeholder]="'Vul hier de baan naam in.'"
      [_formControl]="createTrackForm.controls.trackTitle"
      [labelText]="'Baan naam'"
      [hideErrorsWhenEmpty]="true"
      [type]="'text'"
      [errorSettings]="[
      {
      errorMessage: 'Je moet een naam invullen.',
      errorName: ''
      }]">

    </app-inputfield-weapon-modal>
    <app-textarea-modal
      [placeholder]="'Vul hier de beschrijving van de baan in.'"
      [labelText]="'Beschrijving voor baan'"
      [textAreaID]="'trackDescription'"
      [_formControl]="createTrackForm.controls.trackDescription">

    </app-textarea-modal>
    <div class="flex flex-col w-full  items-start justify-evenly mt-5">
      <div class="dropdown-button">Selecteer Wapen Types</div>
      <div class="flex flex-row flex-wrap w-full gap-x-5  ">
        <div *ngFor="let weaponType of weaponTypeList" >
          <input type="checkbox" id="checkboxList" class=" align-middle border-2 border-accent  checkbox checkbox-md" [checked]="containsWeaponTypeInList(weaponType)"
                 [value]="weaponType" (change)="onWeaponTypeChange(weaponType, $event)">
          {{ weaponType.name }}
        </div>
      </div>
    </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <ng-container *ngIf="!currentTrack?.id">
          <button class="btn border-error border-2 bg-base-100" (click)="hideModal()"
          >Annuleer
          </button>
          <button class="btn border-success border-2 bg-base-100" (click)="createTrack()"
          >Voeg toe
          </button>
        </ng-container>

        <ng-container *ngIf="currentTrack?.id">
          <button class="btn border-error border-2 bg-base-100" (click)="hideModal()"
          >Annuleer
          </button>
          <button class="btn border-success border-2 bg-base-100" (click)="saveTrack()"
          >Opslaan
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</dialog>
