<div class="flex row h-screen bg-gray-100">
  <div class="w-6/12 bg-gray-200">
    <img class="h-full w-full object-cover relative" src="../../assets/4824879.jpg">
    <h1 class="absolute top-0 left-0 text-2xl">Logo</h1>

  </div>
  <div class="pl-2 flex flex-col w-6/12 justify-center items-center">
    <div class="justify-center space-y-16">
      <div class="flex flex-col ">
        <h1 class="text-3xl font-bold m-0">Welkom op {{environment.companyName}}</h1>
        <p class="text-lg">Acces information</p>
      </div>
      <form class="mt-2 flex flex-col items-start w-96" [formGroup]="registerForm">
        <div class="flex flex-row space-x-7">
          <div class="flex flex-col mb-5">
            <label class="font-bold text-lg" for="first-name">Voornaam</label>
            <app-input-field-form-small id="first-name" formControlName="firstName"
              [placeholder]="'Vul hier je voornaam in'"></app-input-field-form-small>
            <app-error-message [errorMessage]="'Je moet een voornaam invullen.'" [formGroup]="registerForm"
              [controlName]="'firstName'">
            </app-error-message>
          </div>
          <div class="flex flex-col">
            <label class="font-bold text-lg" for="last-name">Achternaam</label>
            <app-input-field-form-small id="last-name" formControlName="lastName"
              [placeholder]="'Vul hier je achternaam in'"></app-input-field-form-small>
            <app-error-message [errorMessage]="'Je moet een achternaam invullen.'" [formGroup]="registerForm"
              [controlName]="'lastName'">
            </app-error-message>
          </div>
        </div>
        <label class="font-bold text-lg" for="emailId">Email</label>
        <app-input-field-form id="emailId" formControlName="email"
          [placeholder]="'Vul hier je email in'"></app-input-field-form>
        <app-error-message [errorMessage]="'Je moet een geldig email invullen.'" [formGroup]="registerForm"
          [controlName]="'email'">
        </app-error-message>
        <label class="font-bold text-lg" for="passwordId">Wachtwoord</label>
        <div class="relative flex items-center"> <!--Wrapper for input field -->
          <app-input-field-form class="" id="passwordId" formControlName="password"
            [placeholder]="'Vul hier je wachtwoord in'"
            [type]="showPassword ? 'text' : 'password'" ></app-input-field-form>

          <button class="absolute right-0 mr-2" (click)="togglePasswordVisibilty()">
            <div class="mb-2">
              <fa-icon *ngIf="showPassword; else eyeSlashIcon" [icon]="faEye" class="text-gray-500"></fa-icon>
              <ng-template #eyeSlashIcon>
                <fa-icon [icon]="faEyeSlash" class="text-gray-500"></fa-icon>
              </ng-template>
            </div>
          </button>

        </div>
        <app-error-message [errorMessage]="'Het wachtwoord moet 8 karakters hebben.'" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'minlength'">
        </app-error-message>
        <app-error-message [errorMessage]="'Het wachtwoord moet een hoofdletter bevatten.'" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noUppercase'">
        </app-error-message>
        <app-error-message [errorMessage]="'Het wachtwoord moet een kleine letter bevatten.'" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noLowercase'">
        </app-error-message>
        <app-error-message [errorMessage]="'Het wachtwoord moet een getal bevatten.'" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noNumber'">
        </app-error-message>
        <app-error-message [errorMessage]="'Het wachtwoord moet speciaal karakter bevatten.'" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noSpecialChar'">
        </app-error-message>
        <label class="font-bold text-lg" for="second-password">Herhaal wachtwoord</label>
        <div class="relative flex items-center"> <!--Wrapper for input field -->
          <app-input-field-form class="" id="second-password" formControlName="secondPassword"
            [placeholder]="'Vul hier je wachtwoord nog een keer in'"
            [type]="showSecondPassword ? 'text' : 'password'"></app-input-field-form>

          <button class="absolute right-0 mr-2" (click)="toggleSecondPasswordVisitbilty()">
            <div class="mb-2">
              <fa-icon *ngIf="showSecondPassword; else eyeSlashIcon" [icon]="faEye" class="text-gray-500"></fa-icon>
              <ng-template #eyeSlashIcon>
                <fa-icon [icon]="faEyeSlash" class="text-gray-500"></fa-icon>
              </ng-template>
            </div>
          </button>
        </div>
        <app-error-message
          [errorMessage]="'De wachtwoorden komen niet overeen.'"
          [formGroup]="registerForm"
          [specificError]="'passwordsMismatch'">
        </app-error-message>
        <app-error-message-manual  #registerErrorMessage ></app-error-message-manual>
        <app-confirm-button class="mt-3" [label]="'Registreer'" (onClick)="onSubmit()"></app-confirm-button>
        <button class=" mt-3 underline text-sm text-sky-900 hover:text-sky-500" routerLink="/login"
          routerLinkActive="active">
          Heb je al een account? Log hier in.
        </button>

      </form>
    </div>
  </div>
</div>
