<button class="btn border-accent border-2 btn-sm bg-base-100" (click)="addScores()">Scores toevoegen</button>
<button class="btn border-accent border-2 btn-sm bg-base-100" (click)="removeScores()">Geselecteerde scores verwijderen</button>
<button class="btn border-accent border-2 btn-sm bg-base-100" (click)="this.modalService.showModal(Modal.ASSOCIATION_COMPETITION_MEMBERS_REMOVE_USER)">Lid verwijderen</button>
<app-confirmation-modal

  [header]="'Verwijder '+ competitionUser?.user?.fullName "
  [message]="'Weet je zeker dat je '+ competitionUser?.user?.fullName +' wilt verwijderen uit de competitie?'"
  [modalTag]="Modal.ASSOCIATION_COMPETITION_MEMBERS_REMOVE_USER"
  [acceptButtonText]="'Bevestig'"
  [rejectButtonText]="'Annuleer'"
  (AcceptEvent)="removeMemberFromCompetition()"
  (RejectEvent)="this.modalService.hideModal(Modal.ASSOCIATION_COMPETITION_MEMBERS_REMOVE_USER)"
>
</app-confirmation-modal>


<app-competition-create-user-scores (UserScoresAddedEvent)="updateCompetition()" [SetCurrentUser]="SetCurrentUser" [SetCurrentType]="SetCurrentType"></app-competition-create-user-scores>
<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <td *ngIf="competitionUser?.scores?.length === 0" colspan="4" class="text-center text-md">{{'associationMembers.noResult' | translate}}
    </td>
    <tr *ngFor="let score of competitionUser?.scores" class="items-center">
      <td>
        <div class="flex items-center">
          <input type="checkbox" [ngModel]="this.checkboxMap.get(score)" (ngModelChange)="checkboxMap.set(score, $event)" class="checkbox checkbox-primary mr-2"/>
          <div class="">{{ score.scoreDate }}</div>
        </div>
      </td>
      <td>
        <p *ngIf="this.competition?.scoreType == CompetitionScoreType.POINT"> {{score.score}} </p>
        <p *ngIf="this.competition?.scoreType == CompetitionScoreType.TIME"> {{this.utility.formatNanoseconds(score.score)}} </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
