<div class="w-full">
    <app-multi-column-list [dataSource]="dataSource"></app-multi-column-list>
</div>


<!--Headers-->
<ng-template #associationHeaderTemplate>
  Vereniging
</ng-template>

<ng-template #receivedInvitationHeaderTemplate>
  Uitnodiging ontvangen
</ng-template>

<ng-template #roleHeaderTemplate>
  Rol
</ng-template>

<ng-template #actionsTemplate>
</ng-template>


<!--Rows-->
<ng-template #associationRowTemplate let-associationInvite="data">
  <div class="flex items-center gap-3">
    <div class="avatar">
      <div class="mask mask-squircle w-12 h-12 rounded-full">
        <img src="{{associationInvite.association.image?.encoded}}" alt="{{associationInvite.association.name}}"/>
      </div>
    </div>
    <div>
      <div class="font-bold">{{ associationInvite.association.name }}</div>
      <div class="text-sm opacity-50">{{ associationInvite.association.contactEmail }}</div>
    </div>
  </div>
</ng-template>

<ng-template #receivedInvitationRowTemplate let-associationInvite="data">
  <p>{{ formatDate(associationInvite.createdAt) | async }}</p>
</ng-template>

<ng-template #roleRowTemplate let-associationInvite="data">
  <p>{{ associationInvite.associationRole.name }}</p>
</ng-template>

<ng-template #actionsRowTemplate let-associationInvite="data">



  <app-custom-button class="mr-10"

    [buttonClass]="ButtonClass.ERROR_CLASS"
    [buttonSize]="ButtonSize.BTN_SM"
    [labelText]="'Weiger'"
    [icon]="faCircleXmark"
    [disabledStatus]="false"
    (onClick)="onClickDeclineInvite(associationInvite)"
  ></app-custom-button>

  <app-custom-button
    [buttonClass]="ButtonClass.SUCCESS_CLASS"
    [buttonSize]="ButtonSize.BTN_SM"
    [labelText]="'Accepteer'"
    [icon]="faCircleCheck"
    [disabledStatus]="false"
    (onClick)="onClickAcceptInvite(associationInvite)"
  ></app-custom-button>
</ng-template>
<app-confirmation-modal
  [header]="'Weiger de uitnodiging'"
  [message]="'Weet je zeker dat je de uitnodiging van ' + currentInvite?.association?.name + ' wilt weigeren?'"
  [modalTag]="Modal.INVITATIONS_DECLINE_ASSOCIATION_INVITE"
  [acceptButtonText]="'Bevestig'"
  [rejectButtonText]="'Annuleer'"
  (AcceptEvent)="declineInvite(currentInvite!.id)"
  (RejectEvent)="this.modalService.hideModal(Modal.INVITATIONS_DECLINE_ASSOCIATION_INVITE)"
>
</app-confirmation-modal>
<app-confirmation-modal
  [header]="'Accepteer de uitnodiging'"
  [message]="'Weet je zeker dat je de uitnodiging van ' + currentInvite?.association?.name + ' wilt accepteren?'"
  [modalTag]="Modal.INVITATIONS_ACCEPT_ASSOCIATION_INVITE"
  [acceptButtonText]="'Bevestig'"
  [rejectButtonText]="'Annuleer'"
  (AcceptEvent)="acceptInvite(currentInvite!.id)"
  (RejectEvent)="this.modalService.hideModal(Modal.INVITATIONS_ACCEPT_ASSOCIATION_INVITE)"
>
</app-confirmation-modal>
