<!--<div class="h-screen-mini bg-base-100 flex gap-y-4 flex-col justify-around">-->
<!--  <section class="flex flex-col w-full flex-[1] justify-around max-h-[52%]">-->
<!--      <h1 class="text-2xl font-bold">Welkom "dag moment" "naam" <span>Fijne {{ activeDay }}</span></h1>-->
<!--    <div class="mt-5 flex flex-col items-center w-9/12 h-full border-2 border-base-200 rounded-xl shadow-3xl">-->
<!--      <div class="flex flex-row justify-between w-full h-[30vh]"">-->
<!--        <div class="flex flex-col w-7/12 ">-->
<!--          <h1 class="text-5xl font-bold">{{ association.name }}!</h1>-->
<!--          <p class="py-6">{{ association.welcomeMessage }}</p>-->
<!--          <app-custom-button-->
<!--            [buttonClass]="ButtonClass.ACCENT_CLASS"-->
<!--            [buttonSize]="ButtonSize.BTN_MD"-->
<!--            [labelText]="'Contact'"-->
<!--            [disabledStatus]="false"-->
<!--            [additionalClasses]="'w-40 text-base mt-4'">-->
<!--          </app-custom-button>-->
<!--        </div>        <div class="flex flex-col w-5/12">-->
<!--          <img src="{{association.image?.encoded}}" class="h-5/6 rounded-lg shadow-3xl"-->
<!--               alt="Photo of association {{association.name}}"/>-->
<!--        <div class="flex flex-row gap-x-2">-->
<!--          <app-rounded-social-box></app-rounded-social-box>-->
<!--          <app-rounded-social-box></app-rounded-social-box>-->
<!--          <app-rounded-social-box></app-rounded-social-box>-->
<!--          <app-rounded-social-box></app-rounded-social-box>-->
<!--        </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="w-4 h-4 rounded-3xl bg-accent"></div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section class="flex flex-row w-full flex-[1] justify-around max-h-[48%]">-->
<!--    <div class="flex flex-col w-4/12 justify-start">-->
<!--      <app-upcoming-events-->
<!--        class=" border-base-200 border-2 bg-base-100 shadow-3xl h-full rounded-xl overflow-y-auto no-scrollbar"-->
<!--        [eventsChangedEvent]="eventsChangedEvent" [currentDay]="currentDay"-->
<!--        [calendarItemClickedEvent]="CalendarItemClickedEvent"-->
<!--      ></app-upcoming-events>-->
<!--    </div>-->
<!--    <div class="flex flex-col w-4/12 justify-start border-base-200 border-2 bg-base-100 shadow-3xl h-full rounded-xl overflow-y-auto no-scrollbar">-->
<!--      <div class="flex flex-col">-->
<!--        <div class="flex flex-row justify-between ml-10 mr-10 mt-2">-->
<!--          <h1 class="font-bold">Mijn aanwezigheid</h1>-->
<!--          <h1 class="font-bold">{{activeMonth}} </h1>-->
<!--        </div>-->
<!--        <div class="grid grid-cols-7 gap-x-4 gap-y-2 mx-10 pt-1 text-center">-->
<!--          &lt;!&ndash; Dagen van de week &ndash;&gt;-->
<!--          <p class="font-bold text-xs sm:text-sm">Ma</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Di</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Wo</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Do</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Vr</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Za</p>-->
<!--          <p class="font-bold text-xs sm:text-sm">Zo</p>-->

<!--          &lt;!&ndash; Grid items voor de dagen &ndash;&gt;-->
<!--          <div *ngFor="let day of days" class="flex justify-center items-center w-[50px] h-[50px] rounded-lg border-2 border-accent font-bold text-xs sm:text-sm" [ngClass]="{ 'bg-accent': day.activated, 'bg-base-300': !day.activated}">-->
<!--            <p>{{ day.day }}</p>-->
<!--          </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->
<div class="flex flex-col justify-between h-screen-mini gap-4 pl-7">
  <!--Top title-->
  <section class="flex flex-row max-h[2vh]">
    <h1 class="text-2xl font-bold">Welkom "dag moment" "naam" <span>Fijne {{ activeDay }}</span></h1>
  </section>
  <!--  Association box-->
  <section class="h-[40vh] flex flex-row border-2 border-base-200 rounded-xl shadow-3xl">
    <div class="flex flex-row justify-between w-full mx-4" *ngFor="let association of associations">
      <!--        Association box-->
      <div class="flex flex-col justify-around w-7/12">
        <h1 class="text-5xl font-bold">{{ association.name }}!</h1>
        <p class="py-6">{{ association.welcomeMessage }}</p>
        <app-custom-button
          [buttonClass]="ButtonClass.ACCENT_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Contact'"
          [disabledStatus]="false"
          [additionalClasses]="'w-40 text-base mt-4'">
        </app-custom-button>
      </div>
      <!--        Association image-->
      <div class="flex flex-col justify-around w-5/12">
        <img src="{{association.image?.encoded}}" class="rounded-lg h-4/6 w-3/4 shadow-3xl object-fill"
             alt="Photo of association {{association.name}}"/>
        <div class="flex flex-row gap-x-2">
          <app-rounded-social-box></app-rounded-social-box>
          <app-rounded-social-box></app-rounded-social-box>
          <app-rounded-social-box></app-rounded-social-box>
          <app-rounded-social-box></app-rounded-social-box>
        </div>
      </div>
    </div>
  </section>
  <!--  Agenda + planning-->
  <section class="h-[40vh] flex flex-row justify-between">
    <!--        Agenda-->
    <div class="flex flex-col w-7/12 justify-start">
      <app-upcoming-events
        class=" border-base-200 border-2 bg-base-100 shadow-3xl h-full rounded-xl overflow-y-auto no-scrollbar"
        [eventsChangedEvent]="eventsChangedEvent" [currentDay]="currentDay"
        [calendarItemClickedEvent]="CalendarItemClickedEvent"
      ></app-upcoming-events>
    </div>

    <!--    Presentie view-->
    <div class="flex flex-col w-4/12 justify-start border-base-200 border-2 bg-base-100 shadow-3xl h-full rounded-xl pb-2 ">
      <div class="flex flex-col">
        <div class="flex flex-row justify-between ml-10 mr-10 mt-2">
          <h1 class="font-bold">Mijn aanwezigheid</h1>
          <h1 class="font-bold">{{ activeMonth }} </h1>
        </div>
        <div class="grid grid-cols-7 gap-x-4 gap-y-1 mx-10 pt-1 text-center">
          <!-- Dagen van de week -->
          <p class="font-bold text-xs sm:text-sm">Ma</p>
          <p class="font-bold text-xs sm:text-sm">Di</p>
          <p class="font-bold text-xs sm:text-sm">Wo</p>
          <p class="font-bold text-xs sm:text-sm">Do</p>
          <p class="font-bold text-xs sm:text-sm">Vr</p>
          <p class="font-bold text-xs sm:text-sm">Za</p>
          <p class="font-bold text-xs sm:text-sm">Zo</p>

          <!-- Grid items voor de dagen -->
          <div *ngFor="let day of days"
               class="flex justify-center items-center p-1 rounded-lg border-2 border-accent font-bold text-xs sm:text-sm"
               [ngClass]="{ 'bg-accent': day.activated, 'bg-base-300': !day.activated}">
            <p>{{ day.day }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


