<dialog id="my_modal_6" class="modal modal-bottom  sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box flex flex-col justify-between" [ngStyle]="{'height' : '80%'}">
    <ng-container [ngSwitch]="step">
      <div class="flex-grow">
        <div class="flex flex-row justify-between">
          <div>
            <h3 class="font-bold text-lg">{{ title }}</h3>
            <p class="text-md">{{ getSubTitleForStep() }}</p>
          </div>
          <button class="btn btn-md border-error border-2 bg-base-100" (click)="resetReservationModal()"
          >X
          </button>
        </div>
        <ul class="steps w-full mt-2 mb-3">
          <li *ngFor="let s of steps" class="step" [ngClass]="getClassForStep(s.step)"> {{ s.label | translate }}</li>
        </ul>

        <div *ngSwitchCase="Step.STEP_1">
          <app-default-input-field
            [inputId]="'inputID'"
            [placeholder]="'Vul hier de naam van de reservering in.'"
            [_formControl]="step1ReservationForm.controls.title"
            [labelText]="'Titel'"
            [hideErrorsWhenEmpty]="true"
            [inputFieldWidth]="InputFieldWidth.FULL"
            [type]="'text'"
            [errorSettings]="[
            {
            errorMessage: 'Je moet een naam invullen.',
            errorName: ''
            }]">

          </app-default-input-field>


          <div class="flex flex-row items-start w-full space-x-2 mt-2">
            <app-default-input-field
                                         [inputId]="'inputID'"
                                         [placeholder]="'Vul hier het max aantal deelnemers in.'"
                                         [_formControl]="step1ReservationForm.controls.maxSize"
                                         [labelText]="'Max aantal aanmeldingen'"
                                         [inputFieldWidth]="InputFieldWidth.FULL"
                                         [hideErrorsWhenEmpty]="true"
                                         [type]="'number'"
                                         [errorSettings]="[
          {
          errorMessage: 'Je moet een positief getal invullen.',
          errorName: ''
          }]">
            </app-default-input-field>
            <app-input-field-single-select class="w-6/12" [dataSource]="singleSelectInputFieldDataSourceColor"></app-input-field-single-select>


          </div>
          <app-input-field-multi-select [dataSource]="weaponTypeDataSource"></app-input-field-multi-select>
          <app-default-checkbox-input-field
            [_formControl]="step1ReservationForm.controls.chooseTime"
            [labelText]="'Zelf positie kiezen'">
          </app-default-checkbox-input-field>
          <app-textarea-modal
            [placeholder]="'Vul hier de beschrijving van de reservering in.'"
            [labelText]="'Beschrijving'"
            [textAreaID]="'trackDescription'"
            [_formControl]="step1ReservationForm.controls.description">
          </app-textarea-modal>

        </div>

        <div *ngSwitchCase="Step.STEP_2">
          <app-multi-column-list [dataSource]="dataSourceTracks"></app-multi-column-list>
        </div>

        <div *ngSwitchCase="Step.STEP_3">
          <div class="flex flex-col w-full ">
            <app-date-time-selector
                                    [labelText]="'Startdatum'"
                                    [_formControl]="step3ReservationForm.controls.startDate"
                                    [errorSettings]="[
      {
      errorMessage: 'Je moet geldige start datum instellen.',
      errorName: ''
      }]"
                                    [minDate]="util.toLocalIsoDateTime(currentDay)">
            </app-date-time-selector>
            <app-date-time-selector
                                    [labelText]="'Einddatum'"
                                    [_formControl]="step3ReservationForm.controls.endDate"
                                    [errorSettings]="[
      {
      errorMessage: 'Je moet geldige eind datum instellen.',
      errorName: ''
      }]"
                                    [minDate]="step3ReservationForm.controls.startDate.value">
            </app-date-time-selector>
          </div>
          <app-error-message
            *ngIf="step3ReservationForm.controls.startDate.valid && step3ReservationForm.controls.endDate.valid"
            [errorMessage]="'De einddatum moet na de startdatum.'"
            [formGroup]="step3ReservationForm"
            [specificError]="'dateNotAfterOther'">
          </app-error-message>

          <ng-container *ngIf="!currentReservation?.id || currentReservation!.id.length == 0">
              <app-default-checkbox-input-field
                [_formControl]="step3ReservationForm.controls.repeats"
                [labelText]="'Herhaalt zich'">
              </app-default-checkbox-input-field>

            <ng-container *ngIf="step3ReservationForm.controls.repeats.value">
              <app-date-time-selector
                [inputID]="'id'"
                [labelText]="'Herhaling tot'"
                [_formControl]="createSeriesForm.controls.repeatUntil"
               [minDate]="step3ReservationForm.controls.startDate.value">
              </app-date-time-selector>

              <div class="flex flex-row items-end space-x-2 mt-2">
                <app-default-input-field
                  [inputId]="'inputID'"
                  [labelText]="'Herhaalt elke'"
                  [_formControl]="createSeriesForm.controls.repeatDaysBetween"
                  [hideErrorsWhenEmpty]="true"
                  [inputFieldWidth]="InputFieldWidth.FULL"
                  [type]="'number'"
                  [errorSettings]="[]">
                </app-default-input-field>
                <app-input-field-single-select class="w-6/12" [dataSource]="singleSelectInputFieldDataSourceCalendarRepeat"></app-input-field-single-select>
              </div>
            </ng-container>
          </ng-container>
        </div>

      </div>
    </ng-container>
        <div class="modal-action  flex justify-between">
        <button *ngIf="step == Step.STEP_1" class="btn border-error border-2 bg-base-100" (click)="resetReservationModal()"
        >Annuleer
        </button>
        <button *ngIf="step != Step.STEP_1" class="btn border-error border-2 bg-base-100" (click)="decreaseStep()"
        >Vorige
        </button>


        <button *ngIf="step != Step.STEP_3" class="btn border-success border-2 bg-base-100"
                (click)="increaseStep()"
                [disabled]="isDisabled()"
        >Volgende
        </button>
        <button *ngIf="step == Step.STEP_3" class="btn border-success border-2 bg-base-100"
                (click)="createReservation()"
                [disabled]="!canSubmit()"
        >Opslaan
        </button>
      </div>
  </div>
</dialog>

<ng-template #actionHeaderTemplate>
</ng-template>
<ng-template #trackNameHeaderTemplate>
  <p>Baan naam</p>
</ng-template>

<ng-template #trackDescriptionHeaderTemplate>
  <p>Omschrijving</p>
</ng-template>

<ng-template #availableWeaponTypesHeaderTemplate>
  <p>Beschikbare wapentypes</p>
</ng-template>

<ng-template #actionRowTemplate let-track="data">
  <input type="checkbox" class="checkbox checkbox-accent"
         [checked]="containsTrackInList(track)"
         [value]="track" (change)="onTrackChange(track, $event)"/>
</ng-template>

<ng-template #trackNameRowTemplate let-track="data">
  <p>{{ track.name }}</p>
</ng-template>

<ng-template #trackDescriptionRowTemplate let-track="data">
  <p class="max-w-36 break-words">{{ track.description }}</p>
</ng-template>

<ng-template  #availableWeaponTypesRowTemplate let-track="data">
  <div class="flex flex-row">
    <ng-container  *ngFor="let value of track.allowedWeaponTypes; let last = last">
      <p class="">{{ value.name }}{{ !last ? ', &nbsp;' : '' }}</p>
    </ng-container>
  </div>
</ng-template>

