<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Nieuwe Competitie</h3>
    <div class="flex flex-row gap-x-1 mt-5">
      <div class="flex flex-col">
        <app-inputfield-weapon-modal
          [inputId]="'inputID'"
          [placeholder]="'Vul hier de competitie naam in.'"
          [_formControl]="createCompetitionForm.controls.name"
          [labelText]="'Competite naam'"
          [hideErrorsWhenEmpty]="true"
          [type]="'text'"
          [errorSettings]="[
      {
      errorMessage: 'Je moet een naam invullen.',
      errorName: ''
      }]">
        </app-inputfield-weapon-modal>

        <app-textarea-modal
          [placeholder]="'Vul hier de beschrijving van de nieuwe competitie in.'"
          [labelText]="'Beschrijving'"
          [textAreaID]="'competitionDescription'"
          [_formControl]="createCompetitionForm.controls.description">
        </app-textarea-modal>

        <div class="flex flex-row w-full space-x-2">
          <app-date-time-selector class="w-3/6"
            [labelText]="'Startdatum'"
            [_formControl]="createCompetitionForm.controls.startDate"
            [errorSettings]="[
            {
              errorMessage: 'Je moet geldige start datum instellen.',
              errorName: ''
            }]"
                                  [minDate]="util.toLocalIsoDateTime(this.util.getCurrentDate())">
          </app-date-time-selector>
          <app-date-time-selector class="w-3/6"
            [labelText]="'Einddatum'"
            [_formControl]="createCompetitionForm.controls.endDate"
            [errorSettings]="[
            {
              errorMessage: 'Je moet geldige eind datum instellen.',
              errorName: ''
            }]"
                                  [minDate]="createCompetitionForm.controls.startDate.value">
          </app-date-time-selector>
        </div>
        <app-error-message
          *ngIf="createCompetitionForm.controls.startDate.valid && createCompetitionForm.controls.endDate.valid"
          [errorMessage]="'De einddatum moet na de startdatum.'"
          [formGroup]="createCompetitionForm"
          [specificError]="'dateNotAfterOther'">
        </app-error-message>

        <app-input-field-single-select
          [_formControl]="createCompetitionForm.controls.compScoreType"
          [inputList]="Object.values(CompetitionScoreType)"
          [_label]="'Selecteer de competitie score.'"
          [processItem]="convertScoreTypeToText"
          [errorSetting]="
            {
              errorMessage: 'Je moet een waarde selecteren.',
              errorName: ''
            }">

        </app-input-field-single-select>

        <app-input-field-single-select
          [_formControl]="createCompetitionForm.controls.compRankingType"
          [inputList]="Object.values(CompetitionRanking)"
          [_label]="'Selecteer de competitie ranking.'"
          [processItem]="convertRankingToText"
          [errorSetting]="
            {
              errorMessage: 'Je moet een waarde selecteren.',
              errorName: ''
            }">

        </app-input-field-single-select>
      </div>
    </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <button class="btn border-error border-2 bg-base-100" (click)="hideModal()"
        >Sluit
        </button>
        <button class="btn border-accent border-2 bg-base-100"
                [disabled]="!createCompetitionForm.valid"
                (click)="createCompetition()"
        >Bevestig
        </button>
      </form>
    </div>
  </div>
</dialog>
