<app-tab [dataSource]="tabDataSource"></app-tab>

<ng-container [ngSwitch]="activeTab">
  <div *ngSwitchCase="Tab.TRACKS">
    <app-multi-column-list [dataSource]="dataSourceTrack"></app-multi-column-list>
  </div>
  <div *ngSwitchCase="Tab.CALENDAR">
    <app-calender (RequestNewCalendarItemsEvent)="updateEvents($event)"
                  [NewCalendarItemsEvent]="updateCalendarItemsEvent"
                  (CalendarItemClickedEvent)="calendarItemClicked($event)"
                  (ButtonClickedEvent)="createNewTrackReservation()" [buttonTitle]="'Plan reservering'"
                  class="w-full"></app-calender>
    <app-create-track-reservation-modal
      [SetCurrentReservation]="SetCurrentReservation" [ReservationCreatedEvent]="ReservationCreatedEvent" [ReservationEditedEvent]="ReservationEditedEvent" [ReservationDeleteEvent]="ReservationDeleteEvent"></app-create-track-reservation-modal>
    <app-view-track-reservation-modal [SetSelectedItem]="SetSelectedItemForView"  [SetEditingReservation]="SetCurrentReservation" (RefreshEvents)="refreshEvents()"></app-view-track-reservation-modal>
  </div>
</ng-container>

<app-create-track-modal (TrackCreatedEvent)="trackCreated($event)" (TrackDeleteEvent)="trackDeleted($event)"
                        (TrackEditedEvent)="trackEdited($event)"
                        [SetCurrentTrack]="SetCurrentTrack">

</app-create-track-modal>

<ng-template #TrackHeaderRow>
  <app-custom-button class="mr-10"
                     [buttonClass]="ButtonClass.ACCENT_CLASS"
                     [buttonSize]="ButtonSize.BTN_MD"
                     [labelText]="'Voeg baan toe'"
                     [disabledStatus]="false"
                     (onClick)="openModal(generateNewTrack());"
  ></app-custom-button>
</ng-template>

<!--Headers-->
<ng-template #TrackNameHeader>
  Baan
</ng-template>

<ng-template #DescriptionHeader>
  Omschrijving
</ng-template>

<ng-template #AllowedWeaponTypesHeader>
  Toegestane wapentypes
</ng-template>
<ng-template #ActionsHeader>

</ng-template>

<!--Rows-->
<ng-template #TrackNameRow let-track="data">
  <p>{{ track.name }}</p>
</ng-template>

<ng-template #TrackDescriptionRow let-track="data">
  <p>{{ track.description }}</p>
</ng-template>

<ng-template #TrackWeaponTypesRow let-track="data">
  <div class="flex flex-row max-w-36 items-center flex-wrap">
    <ng-container *ngFor="let value of track.allowedWeaponTypes; let last = last">
      <p>{{ value.name }}{{ !last ? ', &nbsp;' : '' }}</p>
    </ng-container>
  </div>
</ng-template>
<ng-template #TrackActionsRow let-track="data">
  <app-custom-button class="mr-10"
                     [buttonClass]="ButtonClass.WARNING_CLASS"
                     [buttonSize]="ButtonSize.BTN_SM"
                     [labelText]="'Wijzig'"
                     [icon]="faPencil"
                     [disabledStatus]="false"
                     (onClick)="openModal(track);"
  ></app-custom-button>
  <app-custom-button class=""
                     [buttonClass]="ButtonClass.ERROR_CLASS"
                     [buttonSize]="ButtonSize.BTN_SM"
                     [labelText]="'Verwijder'"
                     [icon]="faTrashCan"
                     [disabledStatus]="false"
                     (onClick)="startDeleteTrack(track);"
  ></app-custom-button>
</ng-template>

