<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <app-default-input-field
      [inputId]="'inputID'"
      [placeholder]="'Vul hier de baan naam in.'"
      [_formControl]="createTrackForm.controls.trackTitle"
      [labelText]="'Baan naam'"
      [hideErrorsWhenEmpty]="true"
      [inputFieldWidth]="InputFieldWidth.FULL"
      [type]="'text'"
      [errorSettings]="[
      {
      errorMessage: 'Je moet een naam invullen.',
      errorName: ''
      }]">

    </app-default-input-field>
    <app-input-field-multi-select [dataSource]="weaponTypeDataSource"></app-input-field-multi-select>
    <app-textarea-modal
      [placeholder]="'Vul hier de beschrijving van de baan in.'"
      [labelText]="'Beschrijving voor baan'"
      [textAreaID]="'trackDescription'"
      [_formControl]="createTrackForm.controls.trackDescription">

    </app-textarea-modal>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <ng-container *ngIf="!currentTrack?.id">
          <app-custom-button
            [buttonClass]="ButtonClass.ERROR_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Annuleer'"
            [disabledStatus]="false"
            (onClick)="hideModal()"
          ></app-custom-button>

          <app-custom-button
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Voeg toe'"
            [disabledStatus]="!createTrackForm.valid"
            (onClick)="createTrack()"
          ></app-custom-button>
        </ng-container>

        <ng-container *ngIf="currentTrack?.id">
          <app-custom-button
            [buttonClass]="ButtonClass.ERROR_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Annuleer'"
            [disabledStatus]="false"
            (onClick)="hideModal()"
          ></app-custom-button>

          <app-custom-button
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Opslaan'"
            [disabledStatus]="!createTrackForm.valid"
            (onClick)="saveTrack()"
          ></app-custom-button>
        </ng-container>
      </form>
    </div>
  </div>
</dialog>
