<div class="flex row h-screen">
  <div class="w-6/12">
    <img class="h-full w-full object-cover relative" src="../../../assets/4824879.jpg" alt="main-image">
<!--    <h1 class="absolute top-0 left-0 text-2xl">Logo</h1>-->
  </div>
  <div class="flex flex-col w-6/12 items-center space-y-6">
    <app-navbar-minimal class="w-full"></app-navbar-minimal>
    <div class="justify-center space-y-10">
      <div class="flex flex-col ">
        <h1 class="text-3xl font-bold m-0" translate [translateParams]="{companyName: environment.companyName}">registerPage.titleHeader</h1>
        <p class="text-lg" translate>registerPage.accessInformation</p>
      </div>
      <form class="mt-2 flex flex-col items-start gap-y-4 w-96" [formGroup]="registerForm">
        <app-default-input-field
          [_formControl]="registerForm.controls.fullName"
          [autocomplete]="'name'"
          [placeholder]="'registerPage.fullNamePlaceholder' | translate"
          [labelText]="'registerPage.fullNameHeader' | translate"
          [inputId]="'fullName'"
          [type]="'text'"
          [errorSettings]="[{
          errorMessage: 'registerPage.errors.noFullName' | translate,
          errorName: ''
         }]">
        </app-default-input-field>
        <app-default-input-field
          [_formControl]="registerForm.controls.email"
          [autocomplete]="'email'"
          [placeholder]="'registerPage.emailPlaceholder' | translate"
          [labelText]="'registerPage.emailHeader' | translate"
          [inputId]="'emailId'"
          [type]="'text'"
          [errorSettings]="[{
      errorMessage: 'registerPage.errors.noValidEmail' | translate,
      errorName: ''
      }]">
        </app-default-input-field>
        <app-default-input-field
          [_formControl]="registerForm.controls.password"
          [autocomplete]="'new-password'"
          [placeholder]="'registerPage.passwordPlaceholder' | translate"
          [labelText]="'registerPage.passwordHeader' | translate"
          [inputId]="'passwordId'"
          [type]="'password'"
          [errorSettings]="[{
          errorMessage: 'registerPage.errors.noChars' | translate,
          errorName: 'minlength'
         },
         {
          errorMessage: 'registerPage.errors.noUpperCase' | translate,
          errorName: 'noUppercase'
         },
         {
          errorMessage: 'registerPage.errors.noLowerCase' | translate,
          errorName: 'noLowercase'
         }
         ,{
          errorMessage: 'registerPage.errors.noNumber' | translate,
          errorName: 'noNumber'
         }
         ,{
          errorMessage: 'registerPage.errors.noSpecialChar' | translate,
          errorName: 'noSpecialChar'
         }]"
          [visibilityCanBeToggled]="true">

        </app-default-input-field>
        <div>
          <app-default-input-field
            [_formControl]="registerForm.controls.confirmPassword"
            [autocomplete]="'new-password'"
            [placeholder]="'registerPage.repeatPasswordPlaceholder' | translate"
            [labelText]="'registerPage.repeatPasswordHeader' | translate"
            [inputId]="'repeatNewPassword'"
            [type]="'password'"
            [visibilityCanBeToggled]="true"
            [hideErrorsWhenEmpty]="true">

          </app-default-input-field>
          <app-error-message
            [errorMessage]="'registerPage.errors.passwordMismatch' | translate"
            [formGroup]="registerForm"
            [specificError]="'passwordsMismatch'">
          </app-error-message>
        </div>
        <app-error-message-manual  #registerErrorMessage ></app-error-message-manual>
        <app-confirm-button class="mt-3" [label]="'registerPage.registerButton' | translate" (onClick)="onSubmit()"></app-confirm-button>
        <button class="text-info mt-3 underline text-sm hover:text-accent" routerLink="/login"
          routerLinkActive="active" translate>
          registerPage.alreadyAccount
        </button>

      </form>
    </div>
  </div>
</div>
