<div class="flex row h-screen">
  <div class="w-6/12">
    <img class="h-full w-full object-cover relative" src="../../../assets/4824879.jpg" alt="main-image">
<!--    <h1 class="absolute top-0 left-0 text-2xl">Logo</h1>-->
  </div>
  <div class="flex flex-col w-6/12 items-center space-y-6">
    <app-navbar-minimal class="w-full"></app-navbar-minimal>
    <div class="justify-center space-y-10">
      <div class="flex flex-col ">
        <h1 class="text-3xl font-bold m-0" translate [translateParams]="{companyName: environment.companyName}">registerPage.titleHeader</h1>
        <p class="text-lg" translate>registerPage.accessInformation</p>
      </div>
      <form class="mt-2 flex flex-col items-start w-96" [formGroup]="registerForm">
        <label class="font-bold text-lg" for="full-Name" translate>registerPage.fullNameHeader</label>
        <app-input-field-form id="full-Name" formControlName="fullName" [placeholder]="'registerPage.fullNamePlaceholder' | translate"></app-input-field-form>
        <app-error-message [errorMessage]="'registerPage.errors.noFullName' | translate" [formGroup]="registerForm"
                           [controlName]="'fullName'">
        </app-error-message>
        <label class="font-bold text-lg" for="emailId" translate>registerPage.emailHeader</label>
        <app-input-field-form id="emailId" formControlName="email"
          [placeholder]="'registerPage.emailPlaceholder' | translate"></app-input-field-form>
        <app-error-message [errorMessage]="'registerPage.errors.noValidEmail' | translate" [formGroup]="registerForm"
          [controlName]="'email'">
        </app-error-message>
        <label class="font-bold text-lg" for="passwordId" translate>registerPage.passwordHeader</label>
        <div class="relative flex items-center"> <!--Wrapper for input field -->
          <app-input-field-form class="" id="passwordId" formControlName="password"
            [placeholder]="'registerPage.passwordPlaceholder' | translate"
            [type]="showPassword ? 'text' : 'password'" ></app-input-field-form>

          <button class="absolute right-0 mr-2" (click)="togglePasswordVisibilty()">
            <div>
              <fa-icon *ngIf="showPassword; else eyeSlashIcon" [icon]="faEye"></fa-icon>
              <ng-template #eyeSlashIcon>
                <fa-icon [icon]="faEyeSlash"></fa-icon>
              </ng-template>
            </div>
          </button>

        </div>
        <app-error-message [errorMessage]="'registerPage.errors.noChars' | translate" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'minlength'">
        </app-error-message>
        <app-error-message [errorMessage]="'registerPage.errors.noUpperCase' | translate" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noUppercase'">
        </app-error-message>
        <app-error-message [errorMessage]="'registerPage.errors.noLowerCase' | translate" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noLowercase'">
        </app-error-message>
        <app-error-message [errorMessage]="'registerPage.errors.noNumber' | translate" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noNumber'">
        </app-error-message>
        <app-error-message [errorMessage]="'registerPage.errors.noSpecialChar' | translate" [formGroup]="registerForm"
          [controlName]="'password'" [specificError]="'noSpecialChar'">
        </app-error-message>
        <label class="font-bold text-lg" for="second-password" translate>registerPage.repeatPasswordHeader</label>
        <div class="relative flex items-center"> <!--Wrapper for input field -->
          <app-input-field-form class="" id="second-password" formControlName="secondPassword"
            [placeholder]="'registerPage.repeatPasswordPlaceholder' | translate"
            [type]="showSecondPassword ? 'text' : 'password'"></app-input-field-form>

          <button class="absolute right-0 mr-2" (click)="toggleSecondPasswordVisitbilty()">
            <div>
              <fa-icon *ngIf="showSecondPassword; else eyeSlashIcon" [icon]="faEye" ></fa-icon>
              <ng-template #eyeSlashIcon>
                <fa-icon [icon]="faEyeSlash"></fa-icon>
              </ng-template>
            </div>
          </button>
        </div>
        <app-error-message
          [errorMessage]="'registerPage.errors.passwordMismatch' | translate"
          [formGroup]="registerForm"
          [specificError]="'passwordsMismatch'">
        </app-error-message>
        <app-error-message-manual  #registerErrorMessage ></app-error-message-manual>
        <app-confirm-button class="mt-3" [label]="'registerPage.registerButton' | translate" (onClick)="onSubmit()"></app-confirm-button>
        <button class=" mt-3 underline hover:text-accent" routerLink="/login"
          routerLinkActive="active" translate>
          registerPage.alreadyAccount
        </button>

      </form>
    </div>
  </div>
</div>
