<div class="flex flex-row justify-end">
  <app-search-box [placeholder]="'Zoek Competitie'" (SearchEvent)="searchCompetition($event)"></app-search-box>
  <app-custom-button class="mr-10"
                     [buttonClass]="ButtonClass.ACCENT_CLASS"
                     [buttonSize]="ButtonSize.BTN_MD"
                     [labelText]="'Nieuwe competitie'"
                     [disabledStatus]="false"
                     (onClick)="this.modalService.showModal(Modal.ASSOCIATION_CREATE_COMPETITION)"
  ></app-custom-button>
<create-competition-modal
(CompetitionCreatedEvent)="CompetitionCreatedEvent($event)" >

</create-competition-modal>
</div>
  <table class="table">
  <thead>
  <tr>
    <th>Competitienaam</th>
    <th>Startdatum</th>
    <th>Einddatum</th>
  </tr>
  </thead>
  <tbody>
  <td *ngIf="filteredCompetitions.length === 0" colspan="4" class="text-center text-md">Geen competities gevonden
  </td>
  <tr *ngFor="let competition of filteredCompetitions" class="items-center">
    <td>
        <div>
          <div class="font-bold">{{ competition.name}}</div>
          <div class="text-sm opacity-50">{{ competition.description}}</div>
        </div>
    </td>
    <td>
      <p>{{ this.utility.formatDateTimeAsString(competition.startDate) | async}}</p>
    </td>
    <td>
      <p> {{this.utility.formatDateTimeAsString(competition.endDate) |async }}</p>
    </td>
      <td>
<!--      <button class="btn border-accent border-2 btn-sm bg-base-100" [routerLink]="getRouterLink(competition.id)" >Bekijk-->
<!--      </button>-->
        <app-custom-button class=""
                           [buttonClass]="ButtonClass.ACCENT_CLASS"
                           [buttonSize]="ButtonSize.BTN_SM"
                           [labelText]="'Bekijk'"
                           [disabledStatus]="false"
                           [routerLink]="getRouterLink(competition.id)"
        ></app-custom-button>
    </td>
  </tr>
  </tbody>
</table>
