  <div class="flex flex-row justify-end mr-10">
    <div class="relative flex items-center">
      <input type="text" [placeholder]="placeholder" (keydown.enter)="SearchEvent.emit(value)" [(ngModel)]="value"
             class="input rounded-none rounded-tl-md rounded-bl-md
             border-accent border-2 w-full bg-base-300 focus:outline-none
             focus:border-accent shadow-2xl focus:shadow-2xl"/>
      <button *ngIf="value.length > 0" class="absolute inset-y-0 right-0 px-2" (click)="clearFilter()">
          <fa-icon [icon]="faXMark"></fa-icon>
      </button>
    </div>
    <button class="border-accent rounded-tr-md rounded-br-md bg-accent p-3 shadow-2xl" (click)="SearchEvent.emit(value)">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </div>
