<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModifyMemberModal}">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Wijzig {{ selectedUser?.user?.fullName }}</h3>
    <div class="flex flex-row items-center justify-evenly mt-5">
      <h1>Pas hier de rol aan </h1>
      <select class="select select-accent w-full max-w-xs border-2" [(ngModel)]="selectedRole">
        <option *ngFor="let role of userRoles">{{ role.name }}</option>
      </select>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn border-success border-2 bg-base-100"
                (click)="updateUserRole()">Bevestig
        </button>
      </form>
    </div>
  </div>
</dialog>
