<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-xl">Nieuwe uitnodiging</h3>
      <div class="flex mt-5 flex-col w-full">
          <app-default-input-field
            [_formControl]="emailFormControl"
            [autocomplete]="'email'"
            [placeholder]="'email'"
            [labelText]="'Vul hier de e-mail in'"
            [inputId]="'email-input'"
            [type]="'text'"
            [errorSettings]="[{
          errorMessage: 'Voer een geldige email in.',
          errorName: ''
         }]">
          </app-default-input-field>
<!--          <label for="email-input" class="mb-2">Vul hier de e-mail in</label>-->
<!--          <input [formControl]="emailFormControl" id=email-input type="text" placeholder="email"-->
<!--                 class="input input-bordered border-2 w-full max-w-xs"/>-->
<!--          <app-single-error-message [errorMessage]="'Voer een geldige email in.'"-->
<!--                                    [specificFormControl]="emailFormControl">-->
<!--          </app-single-error-message>-->
<!--        <app-input-field-single-select [dataSource]="singleSelectInputFieldDataSource"></app-input-field-single-select>-->
        <div class="flex flex-col items-start justify-evenly mt-5">
          <label for="role-selection" class="mb-2">Selecteer hier de rol</label>
          <select id="role-selection" class="select select-accent w-full max-w-xs border-2" [(ngModel)]="selectedRole">
            <option *ngFor="let role of userRoles">{{ role.name }}</option>
          </select>
        </div>
      </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <app-custom-button
                           [buttonClass]="ButtonClass.ERROR_CLASS"
                           [buttonSize]="ButtonSize.BTN_MD"
                           [labelText]="'Annuleer'"
                           [disabledStatus]="false"
                           (onClick)="cancelInvitation()"
        ></app-custom-button>
        <app-custom-button
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Verstuur'"
          [disabledStatus]="false"
          (onClick)="sendInvitation()"
        ></app-custom-button>
      </form>
    </div>
  </div>
</dialog>
