<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <h3 class="font-bold text-xl">Nieuwe uitnodiging</h3>
      <div class="flex mt-5 flex-col w-full">
          <app-default-input-field
            [_formControl]="createInvitationsForm.controls.emailFormControl"
            [autocomplete]="'email'"
            [placeholder]="'email'"
            [labelText]="'Vul hier de e-mail in'"
            [inputId]="'email-input'"
            [type]="'text'"
            [errorSettings]="[{
          errorMessage: 'Voer een geldige email in.',
          errorName: ''
         }]">
          </app-default-input-field>
<!--        <app-input-field-single-select [dataSource]="singleSelectInputFieldDataSource"></app-input-field-single-select>-->
        <app-input-field-multi-select [dataSource]="multiSelectInputFieldDataSource"></app-input-field-multi-select>
      </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <app-custom-button
                           [buttonClass]="ButtonClass.ERROR_CLASS"
                           [buttonSize]="ButtonSize.BTN_MD"
                           [labelText]="'Annuleer'"
                           [disabledStatus]="false"
                           (onClick)="cancelInvitation()"
        ></app-custom-button>
        <app-custom-button
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Verstuur'"
          [disabledStatus]="!createInvitationsForm.valid"
          (onClick)="sendInvitation()"
        ></app-custom-button>
      </form>
    </div>
  </div>
</dialog>
