<dialog id="my_modal_4" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <div>
      <h2>{{reservation?.title}}</h2>
      <p>{{reservation?.description}}</p>
      <p>Er zijn {{reservation?.reservationUsers?.length}} / {{reservation?.maxSize}} aanmeldingen</p>
      <p *ngIf="reservation?.membersCanChooseTheirOwnPosition"> Je moet je eigen positie selecteren. </p>
      <app-input-field-single-select *ngIf="reservation?.membersCanChooseTheirOwnPosition"  [dataSource]="singleSelectInputFieldDataSource">
      </app-input-field-single-select>
    </div>
    <div>
      <h2>Banen</h2>
      <p *ngFor="let track of reservation?.tracks">{{track.name}} {{track.allowedWeaponTypes}}</p>
    </div>
    <div>
      <p>Begint op {{startTime}} - Eindigt op {{endTime}}</p>
      <p>Evenement duurt {{ util.calculateDuration(reservation?.startDate!, reservation?.endDate!) }}</p>

    </div>
    <div class="modal-action">

      <form method="dialog" class="w-full flex justify-between">
        <app-custom-button
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Sluit'"
          [disabledStatus]="false"
          (onClick)="hideModal()"
        ></app-custom-button>

        <app-custom-button
          *ngIf="!isEnrolled()"
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Aanmelden'"
          [disabledStatus]="!timeIsAfterCurrentDate(reservation?.startDate!) || (reservation?.membersCanChooseTheirOwnPosition  ? !singleSelectInputFieldDataSource.formControl.valid : false)"
          (onClick)="enrollAtReservation()"
        ></app-custom-button>

        <app-custom-button
          *ngIf="isEnrolled()"
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Afmelden'"
          [disabledStatus]="!timeIsAfterCurrentDate(reservation?.startDate!)"
          (onClick)="unrollAtReservation()"
        ></app-custom-button>
      </form>
    </div>
  </div>
</dialog>
