<div role="tablist" class="tabs tabs-bordered  flex justify-center">
  <div role="tab" class="tab  w-36" [class.tab-active]="activeTab === Tab.TRACKS"
       (click)="activeTab = (Tab.TRACKS)">
    Banen
  </div>
  <div role="tab" class="tab w-36" [class.tab-active]="activeTab === Tab.CALENDAR"
       (click)="activeTab = (Tab.CALENDAR)"> Kalender
  </div>
</div>
<ng-container [ngSwitch]="activeTab">
  <div *ngSwitchCase="Tab.TRACKS">
    <div class="w-full flex justify-end">
      <button class="btn border-accent border-2 bg-base-100 mr-10  btn-md" (click)="openModal(generateNewTrack())">
        Voeg baan toe
      </button>
    </div>
    <app-create-track-modal (TrackCreatedEvent)="trackCreated($event)" (TrackDeleteEvent)="trackDeleted($event)"
                            (TrackEditedEvent)="trackEdited($event)"
                            [SetCurrentTrack]="SetCurrentTrack"></app-create-track-modal>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
        <tr class="">
          <th>Baan naam</th>
          <th>Omschrijving</th>
          <th>Toegestane wapentypes</th>
        </tr>
        </thead>
        <!--          <td *ngIf="weaponList.length === 0"  colspan="4" class="text-center text-md"> Geen wapens gevonden</td>-->
        <tbody>
        <tr class="items-center h-16" *ngFor="let track of tracks">
          <td>
            <p>{{ track.name }}</p>
          </td>
          <td>
            <p>{{ track.description }}</p>
          </td>
          <td>
            <div class="flex flex-row max-w-36 items-center flex-wrap">
              <ng-container *ngFor="let value of track.allowedWeaponTypes; let last = last">
                <p>{{ value.name }}{{ !last ? ', &nbsp;' : '' }}</p>
              </ng-container>
            </div>
          </td>
          <td>
            <button class="btn border-warning border-2 bg-base-100  btn-sm ml-10" (click)="openModal(track)">
              Wijzig
            </button>
            <button class="btn border-error border-2 bg-base-100  btn-sm ml-10" (click)="startDeleteTrack(track)">
              Verwijder
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-confirmation-modal header="Verwijder baan" acceptButtonText="Verwijder" rejectButtonText="Behoud"
                            [message]="confirmModalMessage" (AcceptEvent)="deleteTrack()"
                            (RejectEvent)="this.modalService.hideModal(Modal.ASSOCIATION_CONFIGURE_TRACK_CONFIRM_DELETE)"
                            [modalTag]="Modal.ASSOCIATION_CONFIGURE_TRACK_CONFIRM_DELETE"></app-confirmation-modal>
  </div>

  <div *ngSwitchCase="Tab.CALENDAR">
    <app-calender (RequestNewCalendarItemsEvent)="updateEvents($event)"
                  [NewCalendarItemsEvent]="updateCalendarItemsEvent"
                  (CalendarItemClickedEvent)="calendarItemClicked($event)"
                  (ButtonClickedEvent)="createNewTrackReservation()" [buttonTitle]="'Plan reservering'"
                  class="w-full"></app-calender>
    <app-create-track-reservation-modal
      [SetCurrentReservation]="SetCurrentReservation"></app-create-track-reservation-modal>
    <app-view-track-reservation-modal [SetSelectedItem]="SetSelectedItemForView"  [SetEditingReservation]="SetCurrentReservation"></app-view-track-reservation-modal>
  </div>


</ng-container>

