<div class="flex justify-end w-full bg-gray-300 p-2  ">
  <div class="flex w-36 justify-evenly">
    <img class="aspect-auto w-10 rounded-3xl" src="./assets/hond.jpg" alt="profile-picture">
    <input type="checkbox" class="hidden" id="account-icon" [(ngModel)]="checkboxChecked"
           (change)="onCheckboxChange()"/>
    <label class="text-2xl" for="account-icon">
      <fa-icon [icon]="checkboxChecked ? faXmark : faCaretDown"></fa-icon>
    </label>
  </div>
</div>
<div class="w-full flex justify-end">
  <ul *ngIf="checkboxChecked" class="bg-gray-300 w-36 text-center">
    <app-account-icon-item [informationText]="'Instellingen'"></app-account-icon-item>
    <app-account-icon-item [informationText]="'Mijn profiel'"></app-account-icon-item>
    <app-account-icon-item class="text-red-500" [informationText]="'Log uit'"></app-account-icon-item>
  </ul>
</div>
