<dialog id="my_modal_16" class="modal modal-bottom sm:modal-middle overflow-y-hidden"
        [ngClass]="{ 'modal-open': showModal}">

    <div class="modal-box">
      <h3 class="font-bold text-lg">{{securityModalTitle}}</h3>
      <div class="flex flex-row items-center mt-5">
      </div>
      <div>
        <app-default-input-field
          (valueChanged)="codeFormControl.setValue(filterValue())"
          [inputId]="'inputID'"
          [placeholder]="'Vul hier de code in'"
          [_formControl]="codeFormControl"
          [labelText]="'Code'"
          [hideErrorsWhenEmpty]="true"
          [inputFieldWidth]="InputFieldWidth.FULL"
          [type]="'text'"
          [errorSettings]="[
      {
      errorMessage: 'Je moet een geldige acht cijferige code invullen.',
      errorName: ''
      }]">
        </app-default-input-field>
      </div>
      <div class="modal-action">
        <form method="dialog" class="w-full flex justify-between">
          <app-custom-button
            [buttonClass]="ButtonClass.ERROR_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Annuleer'"
            [disabledStatus]="false"
            (onClick)="cancelFunction()"
          ></app-custom-button>

          <app-custom-button
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Bevestig'"
            [disabledStatus]="!codeFormControl.valid"
            (onClick)="acceptFunction()"
          ></app-custom-button>
        </form>
      </div>
    </div>
</dialog>
