
<div class=" overflow-y-hidden overflow-x-hidden w-full h-full bg-gradient-to-r from-base-100 via-[rgba(31,41,55,0)] to-[rgba(14,116,144,0.33)]">
  <div class="w-6/12 h-full flex gap-y-4 justify-center items-center absolute flex-col">
    <h1 class="text-6xl font-bold">Logo</h1>
    <h1 class="text-4xl font-bold text-base-content">HephaSoft</h1>
  </div>
  <div class="h-full relative">
    <div class="w-2/12 h-1/4 transform rotate-60 bg-custom-teal-opacity rounded-tl-custom-radius-85 rounded-bl-custom-radius-85 absolute top-0 -left-10"></div>
    <div  class="w-9/12 h-1/4 transform rotate-60 bg-custom-teal-opacity rounded-tl-custom-radius-85 rounded-bl-custom-radius-85 absolute top-custom-top-30 -left-20"></div>
    <div class="w-full h-1/4 transform rotate-60 bg-custom-teal-opacity rounded-tl-custom-radius-85 rounded-bl-custom-radius-85 absolute top-custom-top-65 -left-10"></div>
  </div>

</div>

