<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle"
        [ngClass]="{ 'modal-open': showModal}">
  <div class="modal-box">
    <ng-container *ngIf="currentWeapon">
      <h3 *ngIf="currentWeapon.id.length <= 0" class="font-bold text-lg">Nieuw wapen</h3>
      <h3 *ngIf="currentWeapon.id.length > 0" class="font-bold text-lg">Wijzig wapen</h3>
    </ng-container>

    <div class="flex flex-row items-center mt-5">
      <div class="flex flex-col w-full">
        <form class="flex flex-col items-start justify-evenly mt-5" [formGroup]="createWeaponForm">
          <app-default-input-field
            [_formControl]="createWeaponForm.controls.name"
            [placeholder]="'Voer hier de naam van het wapen in'"
            [labelText]="'Wapen naam'"
            [inputId]="'weaponName'"
            [type]="'text'"
            [errorSettings]="[{
      errorMessage: 'Je moet een geldige naam invullen.',
      errorName: ''
      }]">
          </app-default-input-field>
            <app-input-field-single-select [dataSource]="singleSelectInputFieldDataSourceStatus">
            </app-input-field-single-select>

            <app-input-field-single-select [dataSource]="singleSelectInputFieldDataSourceType">
            </app-input-field-single-select>

        </form>
      </div>
    </div>
    <div class="modal-action">
      <form method="dialog" class="w-full flex justify-between">
        <app-custom-button
          [buttonClass]="ButtonClass.ERROR_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Annuleer'"
          [disabledStatus]="false"
          (onClick)="closeModal()"
        ></app-custom-button>

        <ng-container *ngIf="currentWeapon">
          <app-custom-button
            *ngIf="currentWeapon.id.length <= 0"
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Voeg toe'"
            [disabledStatus]="!createWeaponForm.valid"
            (onClick)="createWeapon()"
          ></app-custom-button>

          <app-custom-button
            *ngIf="currentWeapon.id.length > 0"
            [buttonClass]="ButtonClass.WARNING_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Wijzig'"
            [disabledStatus]="!createWeaponForm.valid"
            (onClick)="changeWeapon()"
          ></app-custom-button>
        </ng-container>
      </form>
    </div>
  </div>
</dialog>
