<div class="flex flex-col justify-between h-screen-mini mx-10">
  <!--Profile icon + name section-->
  <section class="flex items-center  h-[36vh] flex-row w-full">
    <!--  Profile icon-->
    <div class="indicator mr-5">
      <button
        class="indicator-item indicator-center indicator-bottom mb-5  w-14 h-14 rounded-full badge border-accent border-2 text-accent hover:text-base-content hover:bg-accent"
        (click)="document.getElementById('fileUpload')?.click()">
        <input type="file" id="fileUpload" class="hidden" accept=".png, .jpg, .jpeg"
               (change)="handleChangeProfilePicture($event)">
        <fa-icon class="fa-2x " [icon]="faPencil"></fa-icon>
      </button>
      <div class="w-56 h-56 rounded-full bg-base-300 flex items-center justify-center">
        <img class="w-10/12 h-10/12 border-4 border-accent  rounded-full" src="{{profile?.image?.encoded}}"
             alt="Profile picture of the user"/>
      </div>
    </div>
    <!--    Name section-->
    <div class="flex flex-col">
      <h1 class="font-bold text-3xl">{{ profile?.fullName }}</h1>
      <p>{{ profile?.email }}</p>
    </div>
  </section>
  <!--  Tab row-->
  <section class="flex  h-[10vh] justify-start">
    <app-tab [dataSource]="tabDataSource"></app-tab>
  </section>
  <!-- Input fields section -->
  <section class="h-[36vh]">
    <!--    My contact data -->
    <div class="flex flex-row w-full justify-between h-full" *ngIf="activeTab === Tab.MY_CONTACTDATA">
      <!--      Input fields-->
      <div class="flex flex-col gap-y-6 w-5/12  ">
        <app-default-input-field
          [_formControl]="myContactDataFormGroup.controls.fullName"
          [autocomplete]="'name'"
          [placeholder]="'Pas hier je volledige naam aan'"
          [labelText]="'Volledige naam'"
          [inputFieldWidth]="InputFieldWidth.FULL"

          [inputId]="'fullName'"
          [type]="'text'"
          [errorSettings]="[{
                  errorMessage: 'Je moet een geldige naam invullen.',
                  errorName: ''
                 }]">
        </app-default-input-field>
        <app-default-input-field
          (valueChanged)="filterValue()"
          [_formControl]="myContactDataFormGroup.controls.license"
          [autocomplete]="'name'"
          [placeholder]="'Pas hier je licentie number naam aan'"
          [labelText]="'Licentie nummer'"
          [inputId]="'licenseNumber'"
          [inputFieldWidth]="InputFieldWidth.FULL"

          [type]="'text'"
          [errorSettings]="[{
                  errorMessage: 'Je moet een geldig licentie nummer invullen.',
                  errorName: ''
                 }]">
        </app-default-input-field>
      </div>
      <div class="flex justify-end mt-auto">
        <app-custom-button
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Update'"
          [disabledStatus]="!myContactDataFormGroup.valid"
          (onClick)="updateMyDataProfile()"
        ></app-custom-button>
      </div>
    </div>
    <!--    Security-->
    <div class="flex flex-row justify-between h-full" *ngIf="activeTab === Tab.SECURITY">
      <!--      Input fields-->
      <div class="flex flex-col h-full gap-y-6 w-5/12">
        <app-default-input-field
          [_formControl]="passwordFormGroup.controls.password"
          [autocomplete]="'new-password'"
          [placeholder]="'Vul hier je nieuwe wachtwoord in'"
          [labelText]="'Nieuw wachtwoord'"
          [inputId]="'newPassword'"
          [type]="'password'"
          [inputFieldWidth]="InputFieldWidth.FULL"
          [errorSettings]="[{
      errorMessage: 'registerPage.errors.noChars' | translate,
      errorName: 'minlength'
    }]"
          [visibilityCanBeToggled]="true">
        </app-default-input-field>
        <div>
          <app-default-input-field
            [_formControl]="passwordFormGroup.controls.confirmPassword"
            [autocomplete]="'new-password'"
            [placeholder]="'Herhaal je nieuwe wachtwoord'"
            [labelText]="'Herhaal nieuw wachtwoord'"
            [inputId]="'repeatNewPassword'"
            [type]="'password'"
            [visibilityCanBeToggled]="true"
            [inputFieldWidth]="InputFieldWidth.FULL"
            [hideErrorsWhenEmpty]="true">
          </app-default-input-field>

          <app-error-message
            [errorMessage]="'registerPage.errors.passwordMismatch' | translate"
            [formGroup]="passwordFormGroup"
            [specificError]="'passwordsMismatch'">
          </app-error-message>
        </div>
        <div class="flex justify-end mt-auto">
          <app-custom-button
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Update'"
            [disabledStatus]="!passwordFormGroup.valid"
            (onClick)="openSecurityModal(InputFieldTitle.CHANGE_PASSWORD)"
          ></app-custom-button>
        </div>
      </div>
      <!--  Divider    -->
      <div class="w-2 h-full rounded-2xl bg-accent"></div>
      <!--   email   -->
      <div class="flex flex-col w-5/12  ">
        <app-default-input-field
          [_formControl]="emailFormControl"
          [autocomplete]="'email'"
          [placeholder]="'Pas hier je e-mail aan'"
          [labelText]="'Email'"
          [inputId]="'Email'"
          [type]="'text'"
          [inputFieldWidth]="InputFieldWidth.FULL"
          [errorSettings]="[{
               errorMessage: 'Je moet een geldige email invullen.',
               errorName: ''
               }]">
        </app-default-input-field>
        <div class="flex justify-end mt-auto">
          <app-custom-button
            [buttonClass]="ButtonClass.SUCCESS_CLASS"
            [buttonSize]="ButtonSize.BTN_MD"
            [labelText]="'Update'"
            [disabledStatus]="!emailFormControl.valid"
            (onClick)="openSecurityModal(InputFieldTitle.CHANG_EMAIL)"
          ></app-custom-button>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full justify-between h-full" *ngIf="activeTab === Tab.PREFERENCES">
      <!-- Preferences -->
      <div class="flex flex-col h-full w-5/12 justify-start">
        <app-toggle-slider
          id="competitionReminder"
          [sliderLabel]="'Ontvang competitie herinneringen'"
          [status]="false">
        </app-toggle-slider>
        <app-toggle-slider
          id="reservationReminder"
          [sliderLabel]="'Ontvang herinnering over reserveringen'"
          [status]="false">
        </app-toggle-slider>
      </div>
      <div class="self-end">
        <app-custom-button
          [buttonClass]="ButtonClass.SUCCESS_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'Update'"
          [disabledStatus]="true"
        ></app-custom-button>
      </div>
    </div>
  </section>
</div>

<app-security-code-modal [securityModalTitle]="activeTitleMessage"
                         (RejectEvent)="this.modalService.hideModal(Modal.SECURITY_CODE)"
                         (AcceptEvent)="securityCodeReceived($event)"></app-security-code-modal>
