<div class="flex row h-screen">
  <app-navbar-minimal class="w-full absolute"></app-navbar-minimal>
  <app-left-side-authentication class="w-6/12"></app-left-side-authentication>
  <div class="flex flex-col w-6/12 justify-center items-center space-y-24">
    <div class="justify-center space-y-10">
      <div class="flex w-full flex-col items-center ">
        <h1 class="text-6xl text-white font-bold m-0" translate> registerPage.titleHeader</h1>
        <div class="w-36 mt-4 h-2 rounded-2xl bg-accent" ></div>
      </div>
      <form class="mt-2 flex flex-col items-center gap-y-4 w-96" [formGroup]="registerForm">
        <app-default-input-field
          [_formControl]="registerForm.controls.fullName"
          [autocomplete]="'name'"
          [placeholder]="'registerPage.fullNamePlaceholder' | translate"
          [labelText]="'registerPage.fullNameHeader' | translate"
          [inputId]="'fullName'"
          [type]="'text'"
          [errorSettings]="[{
          errorMessage: 'registerPage.errors.noFullName' | translate,
          errorName: ''
         }]">
        </app-default-input-field>
        <app-default-input-field
          [_formControl]="registerForm.controls.email"
          [autocomplete]="'email'"
          [placeholder]="'registerPage.emailPlaceholder' | translate"
          [labelText]="'registerPage.emailHeader' | translate"
          [inputId]="'emailId'"
          [type]="'text'"
          [errorSettings]="[{
      errorMessage: 'registerPage.errors.noValidEmail' | translate,
      errorName: ''
      }]">
        </app-default-input-field>
        <app-default-input-field
          [_formControl]="registerForm.controls.password"
          [autocomplete]="'new-password'"
          [placeholder]="'registerPage.passwordPlaceholder' | translate"
          [labelText]="'registerPage.passwordHeader' | translate"
          [inputId]="'passwordId'"
          [type]="'password'"
          [errorSettings]="[{
          errorMessage: 'registerPage.errors.noChars' | translate,
          errorName: 'minlength'
         },
         {
          errorMessage: 'registerPage.errors.noUpperCase' | translate,
          errorName: 'noUppercase'
         },
         {
          errorMessage: 'registerPage.errors.noLowerCase' | translate,
          errorName: 'noLowercase'
         }
         ,{
          errorMessage: 'registerPage.errors.noNumber' | translate,
          errorName: 'noNumber'
         }
         ,{
          errorMessage: 'registerPage.errors.noSpecialChar' | translate,
          errorName: 'noSpecialChar'
         }]"
          [visibilityCanBeToggled]="true">

        </app-default-input-field>
        <div>
          <app-default-input-field
            [_formControl]="registerForm.controls.confirmPassword"
            [autocomplete]="'new-password'"
            [placeholder]="'registerPage.repeatPasswordPlaceholder' | translate"
            [labelText]="'registerPage.repeatPasswordHeader' | translate"
            [inputId]="'repeatNewPassword'"
            [type]="'password'"
            [visibilityCanBeToggled]="true"
            [hideErrorsWhenEmpty]="true">

          </app-default-input-field>
          <app-error-message
            [errorMessage]="'registerPage.errors.passwordMismatch' | translate"
            [formGroup]="registerForm"
            [specificError]="'passwordsMismatch'">
          </app-error-message>
        </div>
        <app-default-input-field
          [_formControl]="registerForm.controls.license"
          [autocomplete]="'name'"
          [placeholder]="'registerPage.shootingLicensePlaceholder' | translate"
          [labelText]="'registerPage.shootingLicenseHeader' | translate"
          [inputId]="'shootingLicense'"
          [type]="'text'"
          [errorSettings]="[{
          errorMessage: 'registerPage.errors.noShootingLicense' | translate,
          errorName: ''
         }]">
        </app-default-input-field>



        <app-error-message-manual  #registerErrorMessage ></app-error-message-manual>

        <app-custom-button
          [buttonClass]="ButtonClass.LOGIN_CLASS"
          [buttonSize]="ButtonSize.BTN_MD"
          [labelText]="'registerPage.registerButton'"
          [additionalClasses]="'w-60 text-xl'"
          [disabledStatus]="false"
          (onClick)="onSubmit()"
        ></app-custom-button>



        <button class="text-base-content font-bold mt-3  text-sm" routerLink="/login"
          routerLinkActive="active" translate>
          registerPage.alreadyAccount <span class="text-accent underline" translate>registerPage.alreadyAccount2</span>
        </button>
      </form>
    </div>
  </div>
</div>
